@import "./variables";

@mixin selectedWidgetBoxBorder{
  border: 1px solid $primary-blue;;
  border-radius: 3px;
}

@mixin ellipsisText{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin allowWrappingTwoRows{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  white-space: normal;
}
