<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Workstation.Properties.Settings>
            <setting name="RecentEnvironmentBacking" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="RecentBacking" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloudManagerBacking" serializeAs="String">
                <value>{"UserName":null,"Email":null,"ServerURL":"https://provision.customer.cloud.microstrategy.com","EncryptedPassword":null,"LastSignInDate":"2019-06-02T14:00:51.6901484-04:00"}</value>
            </setting>
            <setting name="MessageManageBacking" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDeveloperMode" serializeAs="String">
               <value>True</value>
           </setting>
        </Workstation.Properties.Settings>
    </userSettings>
</configuration>