@import '../modules/components/scss/variables.scss';

.mstr-app-design-editor {
  height: $design-studio-height;
  width: $design-studio-width;

  .title-section {
    display: flex;
    height: $title-bar-height;
    width: 100%;
    line-height: $title-bar-height;
    background-color: #323852;
    color: #fff;
  }

  .content-section {
    display: flex;
    height: calc(100% - #{$title-bar-height});
    width: 100%;
  }
}
