@import "~@mstr/rc/es/assets/scss/variables.scss";
@import "../../../modules/components/scss/variables.scss";

$background-color: rgba(255, 255, 255, 0.7);
$container-width: 482px;
$container-width-phone: 103px;
$preview-width: 482px;
$preview-height: 324px;
$preview-width-phone: 121px;
$preview-header-height: 38px;
$sidebar-width: 91px;
$default-text-color: #d9d9d9;
$default-active-text-fill: #e9f2ff;
$toolbar-icon-font-size: 14px;
$toolbar-icon-box-background: rgba(255, 255, 255, 0.2);
$overview-right-padding: 10px;
$font-size-side: 7px;
$line-height-side: 15px;

$icon-margin-right: 8px;

$phone-scale: 0.85;
$tablet-scale: 0.85;

:root {
    --toolbar-fill: $msdl-white;
    --toolbar-color: $msdl-black;
    --sidebar-fill: $background-color;
    --sidebar-color: $default-text-color;
    --sidebar-active-fill: $msdl-black;
    --sidebar-active-color: $msdl-white;
    --accent-color: $msdl-white;
    --notification-badge-fill: $msdl-white;
    --button-color: $msdl-black;
    --panel-fill: $msdl-white;
    --panel-color: $default-text-color;
    --canvas-fill: $msdl-white;
}

$header-text-color: var(--toolbar-color, $default-text-color);
$header-bg-color: var(--toolbar-fill, $msdl-white);
$sidebar-bg-color: var(--sidebar-fill, $background-color);
$sidebar-text-color: var(--sidebar-color, $default-text-color);
$sidebar-active-bg-color: var(--sidebar-active-fill, $msdl-black);
$sidebar-active-text-color: var(--sidebar-active-color, $msdl-white);
$canvas-bg-color: var(--canvas-fill, $background-color);
$panel-text-color: var(--panel-color, $default-text-color);
$panel-bg-color: var(--panel-fill, $msdl-white);
$button-text-color: var(--button-color, $msdl-black);
$accent-color: var(--accent-color, $msdl-black);
$notification-badge-bg-color: var(--notification-badge-fill, $msdl-white);

// put all icons here
@mixin iconFeatures() {

    .icon-tb_undoarrow {
        float: none;
        text-align: center;
        position: absolute;
        left: 124px;
        font-size: 16px;
    }
    .icon-tb_home,
    .icon-tb_appicon,
    .icon-library {
        float: left;
        margin-left: 4.5px;
        color: $header-text-color;
    }
    .icon-lib-login {
        float: left;
        color: $mobile-primary-blue;
    }
    .icon-tb_hamburger {
        transform: scale(0.88); // the icon is bigger than others.
    }
    .icon-backarrow,
    .icon-tb_hamburger,
    .icon-tb_toc_n,
    .icon-tb_bookmarks_n,
    .icon-tb_undo,
    .icon-tb_redo,
    .icon-tb_reset {
        float: left;
        margin-left: 4.5px;
        color: $header-text-color;
    }
    .icon-aa_font {
        float: right;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        transform: scale(0.75);
        background: url("../../../modules/components/images/18_18.svg");
        background-repeat: no-repeat;
        background-position: -540px -126px;
    }
    .icon-sidebar_preview_tablet {
        float: left;
        margin: 3px 4.5px 0 0;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        transform: scale(0.75);
        background: url("../../../modules/components/images/18_18.svg");
        background-repeat: no-repeat;
        background-position: -414px -126px;
    }
    .icon-hyper,
    .icon-info_edit,
    .icon-tb_create_dossier,
    .icon-searchfilter,
    .icon-search_tb_box,
    .icon-pnl_shared,
    .icon-tb_select_n,
    .icon-user-profile,
    .icon-tb_notif_n,
    .icon-tb_comments_n,
    .icon-tb_filter_n,
    .icon-tb_share_n,
    .icon-tb_profile_n {
        float: right;
        margin-right: $icon-margin-right;
        color: $header-text-color;
    }
}

@mixin padOrWebSetting() {
    height: $preview-height;
    .ant-layout-header {
        padding: 0 1px;
        height: $preview-header-height;
        text-align: center;
        border: 0.07rem solid lightgrey;
        border-radius: 4px 4px 0 0;
        border-bottom: none;
        line-height: $preview-header-height;
        background-color: $header-bg-color;
        span {
            float: right;
            font-size: $toolbar-icon-font-size;

            // make library icon a little larger to emphasize it
            &.icon-library {
                font-size: 18px;
            }
        }
        .replaced-logo-wrapper {
            display: flex;
            float: left;
            height: 100%;
            width: 25px;
            align-items: center;
            justify-content: center;
            margin-left: 4.5px;

            .replaced-logo {
                max-height: $preview-panel-replaced-logo-height;
                max-width: $preview-panel-replaced-logo-width;
            }
        }
        @include iconFeatures();
    }
    &-content {
        padding: 0;
        flex: auto;
        height: 100%;
    }
    &-container {
        height: 100%;
        padding: 0;
        border: 1px solid lightgrey;
        border-radius: 0 0 4px 4px;
        align-self: center;
    }
    &-overview {
        display: flex;
        height: 100%;
        width: 100%;
        // padding: 8px;
        &-left {
            border-radius: 2px;
            padding: 8px 0 8px 3px;
            background-color: $sidebar-bg-color;
            width: $sidebar-width;
            border-right: 0.07rem solid lightgrey;
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
            font-size: $font-size-side;
            line-height: $line-height-side;
            font-family: $font-family;

            &.no-theme {
                background: $msdl-white;
            }

            &-text {
                display: flex;
                height: 17px;
                align-items: center;
                max-width: 97px;
                span {
                    margin-left: 4px;
                }

                &.no-theme {
                    &:first-child {
                        background: $default-active-text-fill;
                    }
                }

                &:first-child {
                    background-color: $sidebar-active-bg-color;

                    .sidebar-icon,
                    .sidebar-text {
                        &-1,
                        &-2,
                        &-3,
                        &-4,
                        &-5,
                        &-6 {
                            background-color: $sidebar-active-text-color;
                        }
                    }
                }

                .sidebar-icon {
                    &-1,
                    &-2,
                    &-3,
                    &-4,
                    &-5,
                    &-6 {
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: $sidebar-text-color;

                        &.no-theme {
                            background-color: $default-text-color;
                        }
                    }

                    &-5,
                    &-6 {
                        margin-left: 14px;
                    }
                }
                .sidebar-text {
                    &-1 {
                        width: 21px;
                        height: 5px;
                    }

                    &-2 {
                        width: 28px;
                        height: 5px;
                    }

                    &-3,
                    &-5,
                    &-6 {
                        width: 25px;
                        height: 5px;
                    }

                    &-4 {
                        width: 31px;
                        height: 5px;
                    }

                    &-1,
                    &-2,
                    &-3,
                    &-4,
                    &-5,
                    &-6 {
                        border-radius: 3px;
                        background-color: $sidebar-text-color;

                        &.no-theme {
                            background-color: $default-text-color;
                        }
                    }
                }
            }

            &-blank {
                background-color: transparent;
                height: 6px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 5px;
                &-fill {
                    width: 70%;
                    height: 4px;
                    background-color: $white;
                }
            }
            &-down {
                margin-left: 4px;
                margin-top: auto;
                margin-bottom: 4px;
                color: $mobile-primary-blue;
                .icon-tb_profile_n {
                    display: inline-block;
                    transform: scale(1.25) !important;
                }
            }
        }
        &-right {
            display: flex;
            flex-direction: column;
            width: $preview-width - $sidebar-width;
            background: $canvas-bg-color;

            &:first-child {
                width: $preview-width;
            }

            .library-content-filter {
                display: flex;
                align-items: center;
                padding: 4px $overview-right-padding;
                padding-top: 16px;
                height: 17px;
                width: 100%;
                

                .title-wrapper {
                    display: flex;
                    align-items: center;
                    height: 100%;

                    .title {
                        width: 28px;
                        height: 5px;
                        border-radius: 3px;
                        margin-left: 5px;
                        background-color: $panel-text-color;

                        &.no-theme {
                            background-color: $default-text-color;
                        }
                    }

                    .arrow {
                        padding: 0 0 6px 3px;
                        color: $panel-text-color;

                        &.no-theme {
                            color: $default-text-color;
                        }
                    }
                }
            }

            .library-content-list {
                flex: auto;
                flex-direction: row;
                padding: 8px $overview-right-padding $overview-right-padding;
                display: flex;
                justify-content: space-between;

                .library-item-col {
                    width: 50%;
                    height: 100%;
                    background: url("../../../modules/components/images/library-preview-sample.svg") no-repeat;
                }

                .library-nosidebar {
                    margin-left: 5px;
                    width: 33%;
                    height: 100%;
                    background: url("../../../modules/components/images/library-preview-sample.svg") no-repeat;
                }

                .dossier-item-col {
                    width: 100%;
                    height: 100%;
                    background: url("../../../modules/components/images/dossier-preview-sample.svg") no-repeat center;
                }

                .dossier-nobar {
                    width: 100%;
                    height: 100%;
                    margin-top: 5px;
                    background: url("../../../modules/components/images/dossier-preview-sample.svg") no-repeat center;
                }
            }
        }
    }
}

.Previewer {
    font-family: $font-family;
    font-size: $font-size;
    color: $msdl-black;
    width: $container-width;

    &-overlay {
        position: absolute;
        z-index: 102;

        border-top: 10px solid rgba(63, 64, 66, 0.4);
        border-right: 10px solid rgba(63, 64, 66, 0.4);
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
    }
    &-overlay-custom {
        position: absolute;
        z-index: 102;
        top: 5px;
        width: 20px;
        height: 10px;
        background-color: rgba(63, 64, 66, 0.4);
    }
    &-overlay-icon {
        position: absolute;
        z-index: 103;

        font-size: 9px;
        padding: 3px 3px;
    }
    &-overlay-icon-custom {
        position: absolute;
        z-index: 103;
        margin-top: -2px;
        font-size: 9px;
        padding: 0 3px 5px 3px;
    }

    .ant-radio-button-wrapper {
        font-size: $font-size-mini;
        font-weight: 400;
    }

    .ant-radio-group {
        padding-top: 8px;
    }

    &-title {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 6px;
        font-size: $font-size;
        font-family: $font-family;
    }
    &-preview-title {
        text-align: center;
        align-content: center;
        font-weight: bold;
        font-size: $font-size;
        font-family: $font-family;
        line-height: $line-height;
    }

    &-device-type-container {
        text-align: center;
        margin: 0 16px;
    }
    &-device-type-group {
        width: 100%;
        .ant-radio-button-wrapper {
            box-shadow: none !important;
        }
    }

    &-horcontainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    &-tablet-horcontainer {
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    &-pad {
        @include padOrWebSetting();
        /*.icon-tb_home,
        .icon-tb_appicon,
        .icon-tb_profile_n,
        .icon-library {
            color: $mobile-primary-blue !important;
        }*/
    }

    &-web {
        @include padOrWebSetting();
        .library-header .icon-tb_filter_n {
            float: left !important;
            padding-left: 5px;
        }

        .library-header {
            &.no-theme {
                background: $msdl-white;
            }
        }

        .dossier-header {
            position: relative;
            .toolbar-title-wrapper {
                display: flex;
                align-items: center;
                position: absolute;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .title {
                    width: 50px;
                    height: 10px;
                    border-radius: 6px;
                    background-color: $header-text-color;
                }

                &.no-theme {
                    .title {
                        background-color: $default-text-color;
                    }
                }
            }

            &.no-theme {
                background: $msdl-white;
            }
        }

        .icon_search_container {
            display: flex;
            height: 100%;
            align-items: center;
            float: right;

            .icon_search_box {
                box-sizing: content-box;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $toolbar-icon-box-background;
                color: #575a5d;
                margin-right: $icon-margin-right;
                width: 65px;
                height: 21px;
                margin-top: 0;
                margin-bottom: 0;
                border-radius: 3.2px;
                font-size: $toolbar-icon-font-size - 3;
                padding-right: 10px;

                &.no-theme {
                    background: #f2f3f5;
                }

                .icon-search_tb_box {
                    margin-right: $icon-margin-right;
                    font-size: $toolbar-icon-font-size - 3;
                }
            }
        }

        .icon_sort_filter_container {
            display: flex;
            height: 100%;
            align-items: center;
            float: left;
            margin-left: $icon-margin-right - 2;

            .icon_sort_filter_box {
                box-sizing: content-box;
                display: flex;
                align-items: center;
                background: $toolbar-icon-box-background;
                color: $header-text-color;
                width: 75px;
                height: 21px;
                margin-top: 0;
                margin-bottom: 0;
                border-radius: 3.2px;
                font-size: $toolbar-icon-font-size - 3;
                padding-left: 8px;

                &.no-theme {
                    background: #f2f3f5;
                }

                .icon_sort_filter_text {
                    display: flex;
                    height: 100%;
                    font-size: $toolbar-icon-font-size - 3;
                    align-items: center;
                    &:after {
                        content: "\2304";
                        padding-bottom: 5px;
                        padding-left: 10px;
                    }
                }

                .icon-tb_filter_n {
                    margin-right: $icon-margin-right;
                    font-size: $toolbar-icon-font-size - 3;
                    padding-left: 8px;
                }
            }
        }
    }

    &-phone {
        width: $container-width-phone;
        height: $preview-height;
        flex: none;
        margin-left: auto;
        margin-right: auto;
        font-size: $font-size-side;
        line-height: $line-height-side;
        font-family: $font-family;

        &-sidebar {
            border-radius: 2px;
            padding-left: 3px;
            background-color: $white;

            border: 0.03rem solid lightgrey;
            display: flex;
            flex: auto;
            height: 100%;
            flex-direction: column;
            justify-items: flex-start;
        }

        .ant-layout-header {
            height: 20px;
            padding: 0 2px 0 5px;
            text-align: center;
            border: 0.03rem solid lightgrey;
            border-radius: 4px 4px 0 0;
            border-bottom: 0;
            line-height: 20px;
            background-color: $header-bg-color;
            font-size: $font-size-mini;
            @include iconFeatures();
            span {
                transform: scale($phone-scale);
            }
            .icon-backarrow {
                margin-left: -2.5px;
            }
            .icon-tb_create_dossier {
                margin-right: 0;
            }

            .icon-tb_share_n {
                margin-right: $icon-margin-right;
            }
            .icon-aa_font {
                margin-right: -2.5px;
                margin-top: 2px;
            }
            .icon-tb_appicon {
                margin-left: 0;
            }
        }
        &-content {
            flex: auto;
            height: 100%;
            padding: 0;
        }
        &-container {
            flex: auto;
            height: 100%;
            padding: 4px;
            border: 0.03rem solid lightgrey;
            background-color: $background-color;

            &-library {
                width: 100%;
                height: 100%;
                background: url("../../../modules/components/images/dossier-list-on-phone.svg") repeat-y;
            }

            &-dossier {
                width: 100%;
                height: 100%;
                margin: 10px 0;
                background: url("../../../modules/components/images/dossier-vis-on-phone.svg") no-repeat;
            }

            &-dossier-nobar {
                width: 100%;
                height: 100%;
                margin: 10px 0;
                background: url("../../../modules/components/images/dossier-vis-on-phone.svg") repeat-y;
            }
        }

        &-footer {
            padding: 0;
            width: 100%;
            height: 24px;
            border: 0.03rem solid lightgrey;
            border-top: 0;
            border-radius: 0 0 4px 4px;
            line-height: 24px;
            background-color: $background-color;
            display: flex;
            justify-content: space-between;
            span {
                font-size: 10px;
                color: $mobile-primary-blue;
                transform: scale($phone-scale);
            }
        }
    }
    &-tablet-sidebar {
        width: $sidebar-width;
        height: $preview-height;
        // flex: none;
        margin-left: auto;
        margin-right: auto;
        font-size: $font-size-side;
        line-height: $line-height-side;
        font-family: $font-family;

        &-sidebar {
            border-radius: 2px;
            padding-left: 3px;
            background-color: $white;
            border: 0.5px solid lightgrey !important;
            border-right: 0 !important;
            display: flex;
            flex: auto;
            height: 100%;
            flex-direction: column;
            justify-items: flex-start;
            .icon-tb_create_dossier {
                margin-right: 0px !important;
            }
        }

        .ant-layout-header {
            flex: auto;
            height: 24px;
            padding: 0 5px;
            text-align: center;
            border: 1px solid lightgrey;
            border-bottom: 0;
            border-right: 0;
            border-radius: 4px 0 0 0;
            // border-left: 0;
            line-height: 24px;
            background-color: $header-bg-color;
            font-size: $font-size-mini;
            @include iconFeatures();
            span {
                transform: scale($tablet-scale);
            }
            .icon-tb_create_dossier {
                margin-right: 0px !important;
            }
        }
        &-content {
            flex: auto;
            height: 100%;
            padding: 0;
        }
        &-container {
            flex: auto;
            height: 100%;
            padding: 4px;
            // border: 1px solid lightgrey;
            border-left: 0 !important;
            background-color: $background-color;

            &-library {
                width: 100%;
                height: 100%;
                background: url("../../../modules/components/images/dossier-list-on-phone.svg") repeat-y;
            }

            &-dossier {
                width: 100%;
                height: 100%;
                margin: 10px 0;
                background: url("../../../modules/components/images/dossier-vis-on-phone.svg") no-repeat;
            }

            &-dossier-nobar {
                width: 100%;
                height: 100%;
                margin: 10px 0;
                background: url("../../../modules/components/images/dossier-vis-on-phone.svg") repeat-y;
            }
        }
    }
    &-tablet-content {
        width: $container-width - $sidebar-width;
        height: $preview-height;
        // flex: none;
        margin-left: auto;
        margin-right: auto;
        font-size: $font-size-side;
        line-height: $line-height-side;
        font-family: $font-family;

        &-sidebar {
            border-radius: 2px;
            padding-left: 3px;
            background-color: $white;
            border: 0.5px solid lightgrey !important;
            border-left: 0;
            display: flex;
            flex: auto;
            height: 100%;
            flex-direction: column;
            justify-items: flex-start;
        }

        .ant-layout-header {
            flex: auto;
            height: 24px;
            padding: 0 5px;
            text-align: center;
            border-top: 0.5px solid lightgrey !important;
            border-right: 0.5px solid lightgrey !important;
            border-left: 0.5px solid lightgrey !important;
            border-radius: 0 4px 0 0;
            line-height: 24px;
            background-color: $header-bg-color;
            font-size: $font-size-mini;
            @include iconFeatures();
        }
        &-content {
            flex: auto;
            height: 100%;
            padding: 0;
        }
        &-container {
            flex: auto;
            height: 100%;
            padding: 4px;
            border: 0.3px solid lightgrey;
            background-color: $background-color;

            &-library {
                width: 100%;
                height: 100%;
                background: url("../../../modules/components/images/dossier-list-on-phone.svg") repeat-y;
            }

            &-dossier {
                width: 100%;
                height: 100%;
                margin: 10px 0;
                background: url("../../../modules/components/images/dossier-vis-on-phone.svg") no-repeat;
            }

            &-dossier-nobar {
                width: 100%;
                height: 100%;
                margin: 10px 0;
                background: url("../../../modules/components/images/dossier-vis-on-phone.svg") repeat-y;
            }
        }
    }
    &-pad {
        .dossier-header {
            .icon-aa_font {
                margin-top: 1px;
                margin-right: 2px;
            }
        }
    }
}
.ellipsis {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
