@import "../../modules/components/scss/variables.scss";

.mstr-app-theme-settings-panel {
  height: 100%;
  width: $settings-panel-width;
  padding: $settings-panel-padding;
  background: $white;

  .mstr-divider {
    margin: 20px 0 8px;
    border: 1px solid rgba(87, 90, 93, 0.1);
  }
}
