
.mstr-tooltip-overlay{

  font-family:Roboto;

  &.ant-tooltip-placement-top,
  &.ant-tooltip-placement-topLeft,
  &.ant-tooltip-placement-topRight{

  .ant-tooltip-inner {
      color: #000;
      background-color: rgba(255, 255, 255, 0.85);
    }

  .ant-tooltip-arrow {
      bottom: -1px;
      border-width: 10px 10px 0;
      border-top-color: rgba(255, 255, 255, 0.85);
    }

  }

&.ant-tooltip-placement-bottom,
&.ant-tooltip-placement-bottomLeft,
&.ant-tooltip-placement-bottomRight{

  .ant-tooltip-inner {
      color: #000;
      background-color: rgba(255, 255, 255, 0.85);
    }

  .ant-tooltip-arrow {
      top: -2px;
      border-width: 0 10px 10px;
      border-bottom-color: rgba(255, 255, 255, 0.85);
    }

}

&.ant-tooltip-placement-right,
&.ant-tooltip-placement-rightTop,
&.ant-tooltip-placement-rightBottom{

  .ant-tooltip-inner {
    color: #000;
    background-color: rgba(255, 255, 255, 0.85);
  }

  .ant-tooltip-arrow {
    left: -2px;
    border-width: 10px 10px 10px 0;
    border-right-color: rgba(255, 255, 255, 0.85);
  }

}

&.ant-tooltip-placement-right{
  .ant-tooltip-arrow {
    margin-top: -9px;
  }
}

&.ant-tooltip-placement-rightTop{
  .ant-tooltip-arrow {
    margin-top: -4px;
  }
}

&.ant-tooltip-placement-rightBottom{
  .ant-tooltip-arrow {
    bottom: 4px;
  }
}


&.ant-tooltip-placement-left,
&.ant-tooltip-placement-leftTop,
&.ant-tooltip-placement-leftBottom{

  .ant-tooltip-inner {
    color: #000;
    background-color: rgba(255, 255, 255, 0.85);
  }

  .ant-tooltip-arrow {
    right: -2px;
    border-width: 10px 0 10px 10px;
    border-left-color: rgba(255, 255, 255, 0.85);
  }

}

&.ant-tooltip-placement-left{
  .ant-tooltip-arrow {
    margin-top: -4px;
  }
}

&.ant-tooltip-placement-leftTop{
  .ant-tooltip-arrow {
    margin-top: -4px;
  }
}

&.ant-tooltip-placement-leftBottom{
  .ant-tooltip-arrow {
    bottom: 4px;
  }
}

}
