@import '../../modules/components/scss/variables.scss';

.mstr-app-theme-settings-panel {
  height: 100%;
  width: $settings-panel-width;
  padding: $settings-panel-padding;
  background: $white;

  .mstr-app-theme-logos {
    font-family: $font-family;
    font-size: $font-size;

    .theme-logos-title {
      height: 28px;
      line-height: 28px;
      font-weight: 700;
      text-align: left;
      color: $settings-panel-title-subtitle-color;
    }
  }
}
