@import '../../modules/components/scss/variables.scss';

.mstr-app-theme-settings-panel {
  height: 100%;
  width: $settings-panel-width;
  padding: $settings-panel-padding;
  background: #FFFFFF;

  .mstr-app-theme-logos {
    font-family: 'Helvetica';
    font-size: $font-size;

    .theme-logos-title {
      height: 28px;
      line-height: 28px;
      font-weight: 700;
      text-align: left;
      color: #4A4A4A;
    }

    .theme-logo {
      margin-top: 8px;

      &:not(:nth-child(2)) {
        margin-top: 20px;
      }

      .logo-subtitle {
        line-height: $line-height;
        color: #4A4A4A;
        margin-bottom: 8px;
      }

      .theme-logo-inner-wrapper {
        display: flex;

        .theme-logo-box {
          display: flex;
          height: $logo-box-height;
          width: $logo-box-width;
          margin-right: 10px;
          border: 1px solid #F2F3F5;
          border-radius: 4px;
          justify-content: center;
          align-items: center;

          .theme-logo-icn {
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
  
            &.web {
              background-image: url('../../modules/components/images/web-logo.svg');
            }
  
            &.favicon {
              background-image: url('../../modules/components/images/favicon-logo.svg');
            }
  
            &.mobile {
              background-image: url('../../modules/components/images/mobile-logo.svg');
            }
          }
  
          .theme-logo-img {
            max-height: $logo-box-height;
            max-width: $logo-box-width;
          }
        }

        .btn-wrapper {
          margin-top: 2px;
          
          .btn {
            height: 24px;
            width: 89px;
            background-color: #3492ED;
            padding: 0;
            border-radius: 3px;
            margin-bottom: 8px;
            font-size: $font-size;
            box-shadow: none;
            border: none;
          }

          .desc {
            line-height: $line-height;
            color: #888;
          }
        }
      }
    }
  }
}

// Dialog for uploading logo
.mstr-app-theme-upload-logo {
  .ant-modal-content {
    width: $logo-popup-width;
    height: $logo-popup-height;
    border-radius: 8px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.23);
  }

  .logo-modal-label {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 600;
  }

  .mstr-input-container {
    padding-top: 10px;
    padding-left: 8px;
    .mstr-input-container__error-message-container {
      padding-top: 4px;
      padding-left: 11px;
    }
  }

  .logo-modal-url {
    margin: 12px;
    background: #F2F3F5;
    width: 93%;
    margin: 0 12px;
    color: #575A5D;
    height: 36px;
    font-size: 14px;
  }

  .ant-modal-footer {
    padding-top: 24px;
    border-top-width: 0;
    padding-bottom: 0;
    
    .ant-btn {
      border-radius: 4px;
    }
    .ant-btn+.ant-btn-primary {
      margin-left: 68%;
      margin-right: 6px;
    }
  }
}