@import '~@mstr/rc/es/assets/scss/variables.scss';
@import '../../../scss/variables.scss';
@import '../../../scss/env-connections/env-connection-variables.scss';
@import '../../../../../styles/base';

.mstr-env-connection-table-wrapper {
  margin-top: 16px;

  .ant-table {
    font-family: $font-family;
    font-size: $font-size;
    color: $msdl-black;
    box-shadow: 0 0 0 1px #E4E4E4;
    border-radius: 0;

    // table header
    &-thead {
      height: 26px;
      line-height: 26px;

      .ant-table-cell {
        background-color: #F1F1F1;
        border: none; // remove existing border

        &:first-child {
          padding-left: 10px;
        }

        &:not(:first-child) {
          padding-left: 12px;
        }

        &::before {
          display: none; // remove column header separators
        }
      }
    }

    // table body
    &-tbody {
      .ant-table-row {
        height: 34px;
        line-height: 34px;

        &:not(:last-child) {
          box-shadow: 0 1px 0 0 #E4E4E4; // add border between rows
        }

        .ant-table-cell {
          border: none; // remove existing border

          &:first-child {
            padding: 0 0 0 10px !important;
          }

          &:not(:first-child) {
            padding: 0 0 0 12px !important; // override existing padding, extend left padding slightly
          }

          &.ant-table-cell-row-hover {
            background: unset; // remove hover effects on each row's cells
          }

          .connected-env-name-wrapper {
            display: grid;
            grid-template-columns: 14px auto;
            grid-gap: 6px;
            align-items: center;

            .connected-env-name-icn {
              width: 14px;
              height: 14px;
              background-image: url('../../../images/18_18.svg');
              background-position: -434px -128px;
            }

            .connected-env-name-text {
              display: grid;
              align-items: center;

              .current-env-name,
              .connected-env-name {
                display: flex;
                max-width: 100%;
                @extend .overflow;

                .editable-label-value {
                  display: inline-block;
                  max-width: 100%;
                  @extend .overflow;
                }
              }

              // make space to account for current label if present
              &.is-current-env {
                grid-template-columns: auto 1fr;
                grid-gap: 3px;

                .current-env-suffix {
                  width: fit-content;
                  color: #0E6FF9;
                }
              }
            }
          }

          .connected-env-url, .current-application-label {
            @extend .overflow;
          }

          // override styling for application select component
          .ant-select.connected-env-application-select {
            font-family: $font-family;
            font-size: $font-size;
            color: $msdl-black;
            height: 100%;
            width: 100%;

            .ant-select-selector {
              padding-left: 0; // remove padding to align with column title

              @include applicationIcnText($web-logo-path: '../../../images/web-logo.svg');
            }
          }

          .remove-connected-env-icn {
            width: 14px;
            height: 14px;
            background-image: url('../../../images/18_18.svg');
            background-position: -542px -164px;
            cursor: pointer;

            &:hover {
              background-position: -560px -165px;
            }
          }
        }
      }
    }
  }
}
