@import '~@mstr/rc/es/assets/scss/variables.scss';
@import '../../scss/variables.scss';

.custom-auth-banner {
    background-color: $msdl-fill-blue;
    padding: 7px 14px;
    margin: 12px 15px 10px 15px;
    display: flex;
    height: 34px;
    &-desc {
        @include msdl-label;
        display: inline-block;
        padding-left: 8px;
    }
    .wsicon.wsicon-info_active {
        background-position: -144px 0;
    }
    .wsicon.wsicon-restart {
        margin: 0 -3px -5px;
    }
}