@import "../../../../modules/components/scss/variables.scss";

$color-editor-font-size: 11px;
$color-prop-editor-col-padding: 8px;
$color-prop-item-content-height: 28px;

.mstr-app-theme-color-prop-editor {
  width: 378px;
  left: -8px;
  position: relative;
  margin-top: 8px;

  .color-prop-list {
    .ant-col {
      padding: 0 $color-prop-editor-col-padding;

      &:first-child {
        padding-left: 0;
      }

      &.in-focus {
        background: #f3f3f3;
        mix-blend-mode: multiply;
      }
    }

    .color-prop-item {
      height: 58px;

      .ant-row {
        .ant-col:first-child {
          padding-left: $color-prop-editor-col-padding;
        }
      }

      .ant-form-item-label {
        width: 100%;
        font-weight: 400;
        padding: 7px 0 5px;

        label {
          font-family: $font-family;
          font-size: $color-editor-font-size;
        }
      }

      .ant-form-item-control {
        .ant-form-item-control-input {
          min-height: $color-prop-item-content-height;
        }
      }

      .color-prop-item-content {
        display: flex;
        align-items: center;
        border: 1px solid rgba(87, 90, 93, 0.1);
        border-radius: 2px;
        height: $color-prop-item-content-height;
        width: 85px;
        padding: 3px 0 3px 4px;

        .color-box {
          height: 20px;
          width: 20px;
          border-radius: 1px;
          border: 0.5px solid #e0e4e7;
        }

        .color-value-input {
          width: 50px;
          height: 13px;
          margin-left: 6px;
          font-size: $color-editor-font-size;
          padding: 0;
        }
      }
    }
  }
}
