@import '../../variables';
@import '../../mixins';

.mstr-react-spin-wrapper {
  width: 100%;
  height: 100%;
  .ant-spin{
    transition: none;
  }

  .ant-spin-container{
    opacity: 1;
    filter: none;
  }
  .mstr-react-spin{
    height: 47px;
  }

  &.ant-spin-nested-loading > div > .ant-spin{
    max-height: 100%;
  }

  .ant-spin-dot-spin{
   display: none;
  }

  & > div > .ant-spin .ant-spin-text{
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 36px;
      height: 36px;
      background-image: url('../../assets/images/spinner.gif');
    }
    vertical-align: middle;
    top: 4px;
  }

  .ant-spin .ant-spin-dot.indicator{
    transition: none;
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      margin: 0 10px 0 20px;
      background-image: url('../../assets/images/spinner.gif');
      background-size: contain;
    }
    display: inline-block;
    vertical-align: middle;
    top: 7px;
    height: 44px;
    line-height: 44px;
    width: 200px;
    margin: 0;
    border-radius: 1px;
    box-shadow: 0 1px 6px 3px rgba(68, 70, 73, 0.1);;
    color: $primary-black;
    background-color: white;
    font-size: 12px;
    font-family: Roboto;
    @include ellipsisText;
    text-align: left;
  }

  .ant-spin-nested-loading,
  .ant-spin-container
  {
    width: 100%;
    height: 100%;
  }

}
