@import '../../variables';

.mstr-react-switch{
  &.ant-switch{
    min-width: 28px;
    width: 28px;
    height: 16px;
    line-height: 14px;
    background-color: #efefef;

    &:after{
      border-radius: 12px;
      width: 12px;
      height: 12px;
      box-shadow: 0 0px 4px 0 rgba(0, 35, 11, 0.2)
    }
  }
  &.ant-switch-checked {
    background-color: $primary-blue;
    &:after {
      margin-left: -14px;
    }
  }
}
