
.icon-filter:before { content: '\e800'; } /* '' */
.icon-list:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-share:before { content: '\e803'; } /* '' */
.icon-sort:before { content: '\e804'; } /* '' */
.icon-styles:before { content: '\e805'; } /* '' */
.icon-thumbs:before { content: '\e806'; } /* '' */
.icon-toc:before { content: '\e807'; } /* '' */
.icon-dossier:before { content: '\e808'; } /* '' */
.icon-library:before { content: '\e809'; } /* '' */
.icon-chevron-left:before { content: '\e80a'; } /* '' */
.icon-chevron-right:before { content: '\e80b'; } /* '' */
.icon-mfilter:before { content: '\e80c'; } /* '' */
.icon-mlist:before { content: '\e80d'; } /* '' */
.icon-msearch:before { content: '\e80e'; } /* '' */
.icon-mshare:before { content: '\e80f'; } /* '' */
.icon-msort:before { content: '\e810'; } /* '' */
.icon-styles-1:before { content: '\e811'; } /* '' */
.icon-mthumbs:before { content: '\e812'; } /* '' */
.icon-mtoc:before { content: '\e813'; } /* '' */
.icon-close:before { content: '\e814'; } /* '' */
.icon-pin:before { content: '\e815'; } /* '' */
.icon-unpin:before { content: '\e816'; } /* '' */
.icon-sort-ascend:before { content: '\e817'; } /* '' */
.icon-sort-descend:before { content: '\e818'; } /* '' */
.icon-link:before { content: '\e819'; } /* '' */
.icon-checkmark:before { content: '\e81a'; } /* '' */
.icon-searchfilter:before { content: '\e81b'; } /* '' */
.icon-sortarrow-asc:before { content: '\e81c'; } /* '' */
.icon-sortarrow-des:before { content: '\e81d'; } /* '' */
.icon-refresh_zoom:before { content: '\e81e'; } /* '' */
.icon-server:before { content: '\e81f'; } /* '' */
.icon-person:before { content: '\e820'; } /* '' */
.icon-access:before { content: '\e821'; } /* '' */
.icon-filtersolid:before { content: '\e822'; } /* '' */
.icon-cancel:before { content: '\e823'; } /* '' */
.icon-reset:before { content: '\e824'; } /* '' */
.icon-warning:before { content: '\e825'; } /* '' */
.icon-clearsearch:before { content: '\e826'; } /* '' */
.icon-menu-arrow:before { content: '\e827'; } /* '' */
.icon-comments:before { content: '\e828'; } /* '' */
.icon-camera:before { content: '\e829'; } /* '' */
.icon-filter_tiny:before { content: '\e82a'; } /* '' */
.icon-tack:before { content: '\e82b'; } /* '' */
.icon-group:before { content: '\e82c'; } /* '' */
.icon-submenu_arrow:before { content: '\e82d'; } /* '' */
.icon-last_year:before { content: '\e82e'; } /* '' */
.icon-pencil:before { content: '\e82f'; } /* '' */
.icon-tinyarrow:before { content: '\e830'; } /* '' */
.icon-bell:before { content: '\e831'; } /* '' */
.icon-clear_filter:before { content: '\e832'; } /* '' */
.icon-checkmark13x10:before { content: '\e833'; } /* '' */
.icon-info:before { content: '\e834'; } /* '' */
.icon-menu_arrow_thin:before { content: '\e835'; } /* '' */
.icon-expand:before { content: '\e836'; } /* '' */
.icon-contract:before { content: '\e837'; } /* '' */
.icon-plus:before { content: '\e838'; } /* '' */
.icon-minus:before { content: '\e839'; } /* '' */
.icon-backarrow:before { content: '\e83a'; } /* '' */
.icon-back-lib:before { content: '\e83b'; } /* '' */
.icon-trashcan:before { content: '\e83c'; } /* '' */
.icon-account-resp:before { content: '\e83d'; } /* '' */
.icon-sendlink:before { content: '\e83e'; } /* '' */
.icon-mstrfile:before { content: '\e83f'; } /* '' */
.icon-sendemail:before { content: '\e840'; } /* '' */
.icon-export-pdf:before { content: '\e841'; } /* '' */
.icon-book12:before { content: '\e842'; } /* '' */
.icon-chapter12:before { content: '\e843'; } /* '' */
.icon-page12:before { content: '\e844'; } /* '' */
.icon-user12:before { content: '\e845'; } /* '' */
.icon-select-branch:before { content: '\e846'; } /* '' */
.icon-user12-solid:before { content: '\e847'; } /* '' */
.icon-comments11:before { content: '\e848'; } /* '' */
.icon-views:before { content: '\e849'; } /* '' */
.icon-updated:before { content: '\e84a'; } /* '' */
.icon-info13:before { content: '\e84b'; } /* '' */
.icon-certified:before { content: '\e84c'; } /* '' */
.icon-cert-check:before { content: '\e84d'; } /* '' */
.icon-rsd-cover:before { content: '\e84e'; } /* '' */
.icon-more:before { content: '\e84f'; } /* '' */
.icon-no-access:before { content: '\e850'; } /* '' */
.icon-bookmark:before { content: '\e851'; } /* '' */
.icon-bookmark_tiny:before { content: '\e852'; } /* '' */
.icon-backarrow_rsd:before { content: '\e853'; } /* '' */
.icon-viz:before { content: '\e854'; } /* '' */
.icon-attribute:before { content: '\e855'; } /* '' */
.icon-metric:before { content: '\e856'; } /* '' */
.icon-dossier_14pxw:before { content: '\e857'; } /* '' */
.icon-chapter20:before { content: '\e858'; } /* '' */
.icon-page20:before { content: '\e859'; } /* '' */
.icon-select:before { content: '\e85a'; } /* '' */
.icon-deselect:before { content: '\e85b'; } /* '' */
.icon-auto:before { content: '\e85c'; } /* '' */
.icon-all18x20:before { content: '\e85d'; } /* '' */
.icon-resetfile:before { content: '\e85e'; } /* '' */
.icon-trusted:before { content: '\e85f'; } /* '' */
.icon-integrated:before { content: '\e860'; } /* '' */
.icon-saml:before { content: '\e861'; } /* '' */
.icon-guest:before { content: '\e862'; } /* '' */
.icon-branch:before { content: '\e863'; } /* '' */
.icon-er_access:before { content: '\e864'; } /* '' */
.icon-er_acct:before { content: '\e865'; } /* '' */
.icon-er_application:before { content: '\e866'; } /* '' */
.icon-er_filter:before { content: '\e867'; } /* '' */
.icon-er_server:before { content: '\e868'; } /* '' */
.icon-lib-login:before { content: '\e869'; } /* '' */
.icon-inviteuser:before { content: '\e86a'; } /* '' */
.icon-user_rs:before { content: '\e86b'; } /* '' */
.icon-dossier_rs:before { content: '\e86c'; } /* '' */
.icon-info-export-pdf:before { content: '\e86d'; } /* '' */
.icon-checkboxes_e:before { content: '\e86e'; } /* '' */
.icon-info-mstrfile:before { content: '\e86f'; } /* '' */
.icon-usher:before { content: '\e870'; } /* '' */
.icon-info-edit:before { content: '\e871'; } /* '' */
.icon-par-u_chld-s:before { content: '\e872'; } /* '' */
.icon-par-s_chld-s:before { content: '\e873'; } /* '' */
.icon-par-s_chld-u:before { content: '\e874'; } /* '' */
.icon-reprompt:before { content: '\e875'; } /* '' */
.icon-checkboxes_f:before { content: '\e876'; } /* '' */
.icon-cache:before { content: '\e877'; } /* '' */
.icon-misconnect:before { content: '\e878'; } /* '' */
.icon-dossier15:before { content: '\e879'; } /* '' */
.icon-info_download:before { content: '\e87a'; } /* '' */
.icon-delete:before { content: '\e87b'; } /* '' */
.icon-group2:before { content: '\e87c'; } /* '' */
.icon-lv_certified_i:before { content: '\e87d'; } /* '' */
.icon-lv_certified_a:before { content: '\e87e'; } /* '' */
.icon-lv_comments_i:before { content: '\e87f'; } /* '' */
.icon-lv_comments_a:before { content: '\e880'; } /* '' */
.icon-lv_filetype_i:before { content: '\e881'; } /* '' */
.icon-lv_filetype_a:before { content: '\e882'; } /* '' */
.icon-cert-ribbon:before { content: '\e883'; } /* '' */
.icon-library24:before { content: '\e884'; } /* '' */
.icon-addbkmk:before { content: '\e885'; } /* '' */
.icon-save:before { content: '\e886'; } /* '' */
.icon-locked_doc:before { content: '\e887'; } /* '' */
.icon-branch3:before { content: '\e888'; } /* '' */
.icon-levels:before { content: '\e889'; } /* '' */
.icon-locked_export:before { content: '\e88a'; } /* '' */
.icon-error:before { content: '\e88b'; } /* '' */
.icon-unknown:before { content: '\e88c'; } /* '' */
.icon-verify:before { content: '\e88d'; } /* '' */
.icon-embed:before { content: '\e88e'; } /* '' */
.icon-download:before { content: '\e88f'; } /* '' */
.icon-servers:before { content: '\e890'; } /* '' */
.icon-pie:before { content: '\e891'; } /* '' */
.icon-stop:before { content: '\e892'; } /* '' */
.icon-play:before { content: '\e893'; } /* '' */
.icon-profiler:before { content: '\e894'; } /* '' */
.icon-minimize:before { content: '\e895'; } /* '' */
.icon-gear:before { content: '\e896'; } /* '' */
.icon-dldossier:before { content: '\e897'; } /* '' */
.icon-dldossier_sm:before { content: '\e898'; } /* '' */
.icon-bookmarks_edit:before { content: '\e899'; } /* '' */
.icon-menu-arrow_thick:before { content: '\e89a'; } /* '' */
.icon-author:before { content: '\e89b'; } /* '' */
.icon-checkmark2:before { content: '\e89c'; } /* '' */
.icon-filter_doc:before { content: '\e89d'; } /* '' */
.icon-caching:before { content: '\e89e'; } /* '' */
.icon-cached:before { content: '\e89f'; } /* '' */
.icon-caching_error:before { content: '\e8a0'; } /* '' */
.icon-info_reset:before { content: '\e8a1'; } /* '' */
.icon-undo:before { content: '\e8a2'; } /* '' */
.icon-redo:before { content: '\e8a3'; } /* '' */
.icon-compactview:before { content: '\e8a4'; } /* '' */
.icon-listview:before { content: '\e8a5'; } /* '' */
.icon-tb_appicon:before { content: '\e8a6'; } /* '' */
.icon-tb_bookmarks_a:before { content: '\e8a7'; } /* '' */
.icon-tb_bookmarks_n:before { content: '\e8a8'; } /* '' */
.icon-tb_comments_a:before { content: '\e8a9'; } /* '' */
.icon-tb_comments_n:before { content: '\e8aa'; } /* '' */
.icon-tb_enviro_a:before { content: '\e8ab'; } /* '' */
.icon-tb_enviro_n:before { content: '\e8ac'; } /* '' */
.icon-tb_filter_a:before { content: '\e8ad'; } /* '' */
.icon-tb_filter_n:before { content: '\e8ae'; } /* '' */
.icon-tb_notif_a:before { content: '\e8af'; } /* '' */
.icon-tb_notif_n:before { content: '\e8b0'; } /* '' */
.icon-tb_profile_a:before { content: '\e8b1'; } /* '' */
.icon-tb_profile_n:before { content: '\e8b2'; } /* '' */
.icon-tb_share_a:before { content: '\e8b3'; } /* '' */
.icon-tb_share_n:before { content: '\e8b4'; } /* '' */
.icon-tb_toc_a:before { content: '\e8b5'; } /* '' */
.icon-tb_toc_n:before { content: '\e8b6'; } /* '' */
.icon-tb_undo:before { content: '\e8b7'; } /* '' */
.icon-tb_undoarrow:before { content: '\e8b8'; } /* '' */
.icon-tb_redo:before { content: '\e8b9'; } /* '' */
.icon-tb_reset:before { content: '\e8ba'; } /* '' */
.icon-tb_search:before { content: '\e8bb'; } /* '' */
.icon-home_info:before { content: '\e8bc'; } /* '' */
.icon-home_favorite:before { content: '\e8bd'; } /* '' */
.icon-home_certified:before { content: '\e8be'; } /* '' */
.icon-pnl_add-new:before { content: '\e8bf'; } /* '' */
.icon-pnl_delete-capsule:before { content: '\e8c0'; } /* '' */
.icon-pnl_delete:before { content: '\e8c1'; } /* '' */
.icon-pnl_edit:before { content: '\e8c2'; } /* '' */
.icon-pnl_exit:before { content: '\e8c3'; } /* '' */
.icon-pnl_more-options:before { content: '\e8c4'; } /* '' */
.icon-pnl_save:before { content: '\e8c5'; } /* '' */
.icon-stts_synced:before { content: '\e8c6'; } /* '' */
.icon-pnl_commentpage:before { content: '\e8c7'; } /* '' */
.icon-share_dossier:before { content: '\e8c8'; } /* '' */
.icon-share_pdf:before { content: '\e8c9'; } /* '' */
.icon-share_excel:before { content: '\e8ca'; } /* '' */
.icon-pnl_sharebookmark:before { content: '\e8cb'; } /* '' */
.icon-pnl_shared:before { content: '\e8cc'; } /* '' */
.icon-pnl_sharer:before { content: '\e8cd'; } /* '' */
.icon-pnl_check-thin:before { content: '\e8ce'; } /* '' */
.icon-pnl_clear-thin:before { content: '\e8cf'; } /* '' */
.icon-pdf:before { content: '\e8d0'; } /* '' */
.icon-excel:before { content: '\e8d1'; } /* '' */
.icon-tb_prompt:before { content: '\e8d2'; } /* '' */
.icon-pnl_reply-bubble:before { content: '\e8d3'; } /* '' */
.icon-pnl_muted:before { content: '\e8d4'; } /* '' */
.icon-v-down:before { content: '\e8d5'; } /* '' */
.icon-v-up:before { content: '\e8d6'; } /* '' */
.icon-windows_nt:before { content: '\e8d7'; } /* '' */
.icon-search_dossier:before { content: '\e8d8'; } /* '' */
.icon-search_chapter:before { content: '\e8d9'; } /* '' */
.icon-search_page:before { content: '\e8da'; } /* '' */
.icon-search_attribute:before { content: '\e8db'; } /* '' */
.icon-search_metric:before { content: '\e8dc'; } /* '' */
.icon-search_viz:before { content: '\e8dd'; } /* '' */
.icon-search_filter:before { content: '\e8de'; } /* '' */
.icon-link_thin:before { content: '\e8df'; } /* '' */
.icon-search_tb_box:before { content: '\e8e0'; } /* '' */
.icon-pnl_close:before { content: '\e8e1'; } /* '' */
.icon-pnl_filter-comments:before { content: '\e8e2'; } /* '' */
.icon-info_pdf:before { content: '\e8e3'; } /* '' */
.icon-info_edit:before { content: '\e8e4'; } /* '' */
.icon-pnl_menucheck:before { content: '\e8e5'; } /* '' */
.icon-user-profile:before { content: '\e8e6'; } /* '' */
.icon-copy:before { content: '\e8e7'; } /* '' */
.icon-calendar:before { content: '\e8e8'; } /* '' */
.icon-hyper:before { content: '\e8e9'; } /* '' */
.icon-view_grid:before { content: '\e8ea'; } /* '' */
.icon-view_list:before { content: '\e8eb'; } /* '' */
.icon-clock-lines:before { content: '\e8ec'; } /* '' */
.icon-hyper_sm:before { content: '\e8ed'; } /* '' */
.icon-msg_info:before { content: '\e8ee'; } /* '' */
.icon-msg_checkmark:before { content: '\e8ef'; } /* '' */
.icon-msg_downloaded:before { content: '\e8f0'; } /* '' */
.icon-search_card:before { content: '\e8f1'; } /* '' */
.icon-search_list:before { content: '\e8f2'; } /* '' */
.icon-search_return:before { content: '\e8f3'; } /* '' */
.icon-tb_hamburger:before { content: '\e8f4'; } /* '' */
.icon-home_favorite_i:before { content: '\e8f5'; } /* '' */
.icon-tb_select_n:before { content: '\e8f6'; } /* '' */
.icon-group_groups_a:before { content: '\e8f7'; } /* '' */
.icon-info_delete:before { content: '\e8f8'; } /* '' */
.icon-tb_sort:before { content: '\e8f9'; } /* '' */
.icon-group_all:before { content: '\e8fa'; } /* '' */
.icon-info_share:before { content: '\e8fb'; } /* '' */
.icon-group_groups:before { content: '\e8fc'; } /* '' */
.icon-group_recents:before { content: '\e8fd'; } /* '' */
.icon-dossier_error:before { content: '\e8fe'; } /* '' */
.icon-note:before { content: '\e8ff'; } /* '' */
.icon-share_bookmark_a:before { content: '\e900'; } /* '' */
.icon-arrow-rounded:before { content: '\e901'; } /* '' */
.icon-tb_select_a:before { content: '\e902'; } /* '' */
.icon-select_rectangle:before { content: '\e903'; } /* '' */
.icon-select_freeform:before { content: '\e904'; } /* '' */
.icon-share_bookmark_n:before { content: '\e905'; } /* '' */
.icon-group_options:before { content: '\e906'; } /* '' */
.icon-share_filter_n:before { content: '\e907'; } /* '' */
.icon-share_filter_a:before { content: '\e908'; } /* '' */
.icon-fullscreen:before { content: '\e909'; } /* '' */
.icon-tb_home:before { content: '\e90a'; } /* '' */
.icon-next_year:before { content: '\e90b'; } /* '' */
.icon-zoom-in:before { content: '\e90c'; } /* '' */
.icon-zoom-out:before { content: '\e90d'; } /* '' */
.icon-drag_handle:before { content: '\e90e'; } /* '' */
.icon-tb_edit:before { content: '\e90f'; } /* '' */
.icon-tb_resources_n:before { content: '\e910'; } /* '' */
.icon-tb_resources_a:before { content: '\e911'; } /* '' */
.icon-sort-decreasing:before { content: '\e912'; } /* '' */
.icon-sort-increasing:before { content: '\e913'; } /* '' */
.icon-subscrip_run:before { content: '\e914'; } /* '' */
.icon-subscrip_unsubscribe:before { content: '\e915'; } /* '' */
.icon-subscrip_edit:before { content: '\e916'; } /* '' */
.icon-subscrip_notes:before { content: '\e917'; } /* '' */
.icon-tb_resp_gridview:before { content: '\e918'; } /* '' */
.icon-tb_back:before { content: '\e919'; } /* '' */
.icon-tb_menu_resp:before { content: '\e91a'; } /* '' */
.icon-tb_sort-filter_n:before { content: '\e91b'; } /* '' */
.icon-tb_sort-filter_a:before { content: '\e91c'; } /* '' */
.icon-tb_resp_listview:before { content: '\e91d'; } /* '' */
.icon-sort_ascending:before { content: '\e91e'; } /* '' */
.icon-sort_descending:before { content: '\e91f'; } /* '' */
.icon-sort_a-z:before { content: '\e920'; } /* '' */
.icon-sort_z-a:before { content: '\e921'; } /* '' */
.icon-subscrip_snapshot:before { content: '\e922'; } /* '' */
.icon-pnl_alarm:before { content: '\e923'; } /* '' */
.icon-tb_create_dossier:before { content: '\e924'; } /* '' */
.icon-tb_switchapp:before { content: '\e925'; } /* '' */
.icon-group_my-content:before { content: '\e926'; } /* '' */
.icon-certify_a:before { content: '\e927'; } /* '' */
.icon-certify_i:before { content: '\e928'; } /* '' */
.icon-timezone:before { content: '\e929'; } /* '' */
.icon-timezone-link:before { content: '\e92a'; } /* '' */
.icon-barcode:before { content: '\e92b'; } /* '' */
.icon-infowindow:before { content: '\e92c'; } /* '' */
.icon-page-by_n:before { content: '\e92d'; } /* '' */
.icon-page-by_a:before { content: '\e92e'; } /* '' */
.icon-insights:before { content: '\e92f'; } /* '' */
.icon-watchlist:before { content: '\e930'; } /* '' */
.icon-report-cover:before { content: '\e931'; } /* '' */
.icon-auth-dataset:before { content: '\e932'; } /* '' */
.icon-wl-dossier:before { content: '\e933'; } /* '' */
.icon-wl-metric:before { content: '\e934'; } /* '' */
.icon-wl-attribute:before { content: '\e935'; } /* '' */
.icon-auth-report:before { content: '\e936'; } /* '' */
.icon-stream_pause:before { content: '\e937'; } /* '' */
.icon-stream_resume:before { content: '\e938'; } /* '' */
.icon-re-execute:before { content: '\e93b'}/* '' */
