.mstr-react-popover-overlay.ant-dropdown {
  padding: 0;
  box-shadow: 0 1px 6px 3px rgba(68, 70, 73, 0.1);
  font-size: 12px;
  background: white;
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner{
    box-shadow: none;
    .ant-popover-inner-content{
      padding: 0;
    }
  }
}
