@font-face {
  font-family: 'mobile_dossier_ios';
  src: url('../font/mobile_dossier_ios.eot?80395965');
  src: url('../font/mobile_dossier_ios.eot?80395965#iefix') format('embedded-opentype'),
       url('../font/mobile_dossier_ios.woff2?80395965') format('woff2'),
       url('../font/mobile_dossier_ios.woff?80395965') format('woff'),
       url('../font/mobile_dossier_ios.ttf?80395965') format('truetype'),
       url('../font/mobile_dossier_ios.svg?80395965#mobile_dossier_ios') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mobile_dossier_ios';
    src: url('../font/mobile_dossier_ios.svg?80395965#mobile_dossier_ios') format('svg');
  }
}
*/
[class^="mobile-icon-"]:before, [class*=" mobile-icon-"]:before {
  font-family: "mobile_dossier_ios";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.mobile-icon-filter:before { content: '\e800'; } /* '' */
.mobile-icon-list:before { content: '\e801'; } /* '' */
.mobile-icon-search:before { content: '\e802'; } /* '' */
.mobile-icon-share1:before { content: '\e803'; } /* '' */
.mobile-icon-sort:before { content: '\e804'; } /* '' */
.mobile-icon-styles:before { content: '\e805'; } /* '' */
.mobile-icon-thumbnails:before { content: '\e806'; } /* '' */
.mobile-icon-toc:before { content: '\e807'; } /* '' */
.mobile-icon-dossier:before { content: '\e808'; } /* '' */
.mobile-icon-dossier_round_fill:before { content: '\e809'; } /* '' */
.mobile-icon-share_ios:before { content: '\e80a'; } /* '' */
.mobile-icon-page:before { content: '\e80b'; } /* '' */
.mobile-icon-link:before { content: '\e80c'; } /* '' */
.mobile-icon-collaboration:before { content: '\e80d'; } /* '' */
.mobile-icon-user_profile:before { content: '\e80e'; } /* '' */
.mobile-icon-selector:before { content: '\e80f'; } /* '' */
.mobile-icon-calendar:before { content: '\e810'; } /* '' */
.mobile-icon-download:before { content: '\e811'; } /* '' */
.mobile-icon-sort_z_a:before { content: '\e812'; } /* '' */
.mobile-icon-connection_error:before { content: '\e813'; } /* '' */
.mobile-icon-down_arrow:before { content: '\e814'; } /* '' */
.mobile-icon-check:before { content: '\e815'; } /* '' */
.mobile-icon-close:before { content: '\e816'; } /* '' */
.mobile-icon-communication:before { content: '\e817'; } /* '' */
.mobile-icon-sort_a_z:before { content: '\e818'; } /* '' */
.mobile-icon-grid_users_view:before { content: '\e819'; } /* '' */
.mobile-icon-downloaded_and_up-to-date:before { content: '\e81a'; } /* '' */
.mobile-icon-information_old:before { content: '\e81b'; } /* '' */
.mobile-icon-left_arrow:before { content: '\e81c'; } /* '' */
.mobile-icon-map_user_view:before { content: '\e81d'; } /* '' */
.mobile-icon-new_group:before { content: '\e81e'; } /* '' */
.mobile-icon-right_arrow:before { content: '\e81f'; } /* '' */
.mobile-icon-triangle_toggle_off:before { content: '\e820'; } /* '' */
.mobile-icon-triangle_toggle_on:before { content: '\e821'; } /* '' */
.mobile-icon-up_arrow:before { content: '\e822'; } /* '' */
.mobile-icon-zoom_in:before { content: '\e823'; } /* '' */
.mobile-icon-zoom_out:before { content: '\e824'; } /* '' */
.mobile-icon-message:before { content: '\e825'; } /* '' */
.mobile-icon-trash:before { content: '\e826'; } /* '' */
.mobile-icon-email:before { content: '\e827'; } /* '' */
.mobile-icon-log_out:before { content: '\e828'; } /* '' */
.mobile-icon-round_lasso:before { content: '\e829'; } /* '' */
.mobile-icon-square_lasso:before { content: '\e82a'; } /* '' */
.mobile-icon-free_lasso:before { content: '\e82b'; } /* '' */
.mobile-icon-call:before { content: '\e82c'; } /* '' */
.mobile-icon-facetime:before { content: '\e82d'; } /* '' */
.mobile-icon-group:before { content: '\e82e'; } /* '' */
.mobile-icon-refresh:before { content: '\e82f'; } /* '' */
.mobile-icon-fr_expand:before { content: '\e830'; } /* '' */
.mobile-icon-fr_collapse:before { content: '\e831'; } /* '' */
.mobile-icon-ra_filter_expand:before { content: '\e832'; } /* '' */
.mobile-icon-ra_filter_collapse:before { content: '\e833'; } /* '' */
.mobile-icon-sort_indicator_left:before { content: '\e834'; } /* '' */
.mobile-icon-current_location_off:before { content: '\e835'; } /* '' */
.mobile-icon-current_location_off_fill:before { content: '\e836'; } /* '' */
.mobile-icon-check_overstriking:before { content: '\e837'; } /* '' */
.mobile-icon-sort_indicator_right:before { content: '\e838'; } /* '' */
.mobile-icon-sort_indicator_up:before { content: '\e839'; } /* '' */
.mobile-icon-list_view:before { content: '\e83a'; } /* '' */
.mobile-icon-more_inside:before { content: '\e83b'; } /* '' */
.mobile-icon-rsd:before { content: '\e83c'; } /* '' */
.mobile-icon-loading:before { content: '\e83d'; } /* '' */
.mobile-icon-share_link:before { content: '\e83e'; } /* '' */
.mobile-icon-list_view_ios:before { content: '\e83f'; } /* '' */
.mobile-icon-unauthorized_network:before { content: '\e840'; } /* '' */
.mobile-icon-photo_uploader_retake:before { content: '\e841'; } /* '' */
.mobile-icon-add_photo:before { content: '\e842'; } /* '' */
.mobile-icon-label_xyz_fill:before { content: '\e843'; } /* '' */
.mobile-icon-label_xyz:before { content: '\e844'; } /* '' */
.mobile-icon-square_lasso_fill:before { content: '\e845'; } /* '' */
.mobile-icon-free_lasso_fill:before { content: '\e846'; } /* '' */
.mobile-icon-recently_searched:before { content: '\e847'; } /* '' */
.mobile-icon-search_empty:before { content: '\e848'; } /* '' */
.mobile-icon-round_lasso_fill:before { content: '\e849'; } /* '' */
.mobile-icon-show_data:before { content: '\e84a'; } /* '' */
.mobile-icon-switch_server:before { content: '\e84b'; } /* '' */
.mobile-icon-map_styles_fill:before { content: '\e84c'; } /* '' */
.mobile-icon-audio:before { content: '\e84d'; } /* '' */
.mobile-icon-video:before { content: '\e84e'; } /* '' */
.mobile-icon-doc:before { content: '\e84f'; } /* '' */
.mobile-icon-ebook:before { content: '\e850'; } /* '' */
.mobile-icon-excel:before { content: '\e851'; } /* '' */
.mobile-icon-html:before { content: '\e852'; } /* '' */
.mobile-icon-image:before { content: '\e853'; } /* '' */
.mobile-icon-offline:before { content: '\e854'; } /* '' */
.mobile-icon-gloomy_face:before { content: '\e855'; } /* '' */
.mobile-icon-undefined_visualization:before { content: '\e856'; } /* '' */
.mobile-icon-fail_to_render_image:before { content: '\e857'; } /* '' */
.mobile-icon-device:before { content: '\e858'; } /* '' */
.mobile-icon-collaboration_empty:before { content: '\e859'; } /* '' */
.mobile-icon-fail_to_render_html:before { content: '\e85a'; } /* '' */
.mobile-icon-fail_to_render_viz:before { content: '\e85b'; } /* '' */
.mobile-icon-empty_library:before { content: '\e85c'; } /* '' */
.mobile-icon-unviewable:before { content: '\e85d'; } /* '' */
.mobile-icon-metric:before { content: '\e85e'; } /* '' */
.mobile-icon-metric_fill:before { content: '\e85f'; } /* '' */
.mobile-icon-attribute:before { content: '\e860'; } /* '' */
.mobile-icon-attribute_fill:before { content: '\e861'; } /* '' */
.mobile-icon-microphone:before { content: '\e862'; } /* '' */
.mobile-icon-microphone_fill:before { content: '\e863'; } /* '' */
.mobile-icon-edit:before { content: '\e864'; } /* '' */
.mobile-icon-no_location_user:before { content: '\e865'; } /* '' */
.mobile-icon-notification:before { content: '\e866'; } /* '' */
.mobile-icon-push_notification:before { content: '\e867'; } /* '' */
.mobile-icon-triangle_drop-down:before { content: '\e868'; } /* '' */
.mobile-icon-triangle_drop-up:before { content: '\e869'; } /* '' */
.mobile-icon-txt:before { content: '\e86a'; } /* '' */
.mobile-icon-radio_button:before { content: '\e86b'; } /* '' */
.mobile-icon-history_viewed-:before { content: '\e86c'; } /* '' */
.mobile-icon-no_notification:before { content: '\e86d'; } /* '' */
.mobile-icon-mapbox_pin:before { content: '\e86e'; } /* '' */
.mobile-icon-chapter:before { content: '\e86f'; } /* '' */
.mobile-icon-view_fill:before { content: '\e870'; } /* '' */
.mobile-icon-invisible:before { content: '\e871'; } /* '' */
.mobile-icon-security_locked:before { content: '\e872'; } /* '' */
.mobile-icon-mapbox_diamond:before { content: '\e873'; } /* '' */
.mobile-icon-expand:before { content: '\e874'; } /* '' */
.mobile-icon-annotation:before { content: '\e875'; } /* '' */
.mobile-icon-more:before { content: '\e876'; } /* '' */
.mobile-icon-pdf:before { content: '\e877'; } /* '' */
.mobile-icon-print:before { content: '\e878'; } /* '' */
.mobile-icon-transaction:before { content: '\e879'; } /* '' */
.mobile-icon-prompt-fill:before { content: '\e87a'; } /* '' */
.mobile-icon-reduce:before { content: '\e87b'; } /* '' */
.mobile-icon-clear2_line:before { content: '\e87c'; } /* '' */
.mobile-icon-clear2_fill:before { content: '\e87d'; } /* '' */
.mobile-icon-oidc:before { content: '\e87e'; } /* '' */
.mobile-icon-collaboration2:before { content: '\e87f'; } /* '' */
.mobile-icon-certified2:before { content: '\e880'; } /* '' */
.mobile-icon-caching:before { content: '\e881'; } /* '' */
.mobile-icon-link_1:before { content: '\e882'; } /* '' */
.mobile-icon-pdf_fill:before { content: '\e883'; } /* '' */
.mobile-icon-page2_fill:before { content: '\e884'; } /* '' */
.mobile-icon-server-1:before { content: '\e885'; } /* '' */
.mobile-icon-export:before { content: '\e886'; } /* '' */
.mobile-icon-add-discussion:before { content: '\e887'; } /* '' */
.mobile-icon-pdf_font:before { content: '\e888'; } /* '' */
.mobile-icon-send:before { content: '\e889'; } /* '' */
.mobile-icon-save_with_bookmark:before { content: '\e88a'; } /* '' */
.mobile-icon-x_sort_a_z:before { content: '\e88b'; } /* '' */
.mobile-icon-x_sort_z_a:before { content: '\e88c'; } /* '' */
.mobile-icon-y_sort_a_z:before { content: '\e88d'; } /* '' */
.mobile-icon-y_sort_z_a:before { content: '\e88e'; } /* '' */
.mobile-icon-y_sort_area_ascending:before { content: '\e88f'; } /* '' */
.mobile-icon-x_sort_bar_ascending:before { content: '\e890'; } /* '' */
.mobile-icon-error_indicator:before { content: '\e891'; } /* '' */
.mobile-icon-error_indicator_fill:before { content: '\e892'; } /* '' */
.mobile-icon-filter_panal_ra_more_level:before { content: '\e893'; } /* '' */
.mobile-icon-filter_panal_ra:before { content: '\e894'; } /* '' */
.mobile-icon-transaction_half:before { content: '\e895'; } /* '' */
.mobile-icon-up:before { content: '\e896'; } /* '' */
.mobile-icon-down:before { content: '\e897'; } /* '' */
.mobile-icon-next:before { content: '\e898'; } /* '' */
.mobile-icon-delete_edit_mode:before { content: '\e899'; } /* '' */
.mobile-icon-y_sort_line_descending:before { content: '\e89a'; } /* '' */
.mobile-icon-y_sort_10_1:before { content: '\e89b'; } /* '' */
.mobile-icon-timestamp:before { content: '\e89c'; } /* '' */
.mobile-icon-y_sort_1_10:before { content: '\e89d'; } /* '' */
.mobile-icon-y_sort_pie_ascending:before { content: '\e89e'; } /* '' */
.mobile-icon-x_sort_pie_descending:before { content: '\e89f'; } /* '' */
.mobile-icon-y_sort_pie_descending:before { content: '\e8a0'; } /* '' */
.mobile-icon-clear_view_filter:before { content: '\e8a1'; } /* '' */
.mobile-icon-x_sort_pie_ascending:before { content: '\e8a2'; } /* '' */
.mobile-icon-y_sort_waterfall_ascending:before { content: '\e8a3'; } /* '' */
.mobile-icon-legend_arrow_right:before { content: '\e8a4'; } /* '' */
.mobile-icon-legend_arrow_left:before { content: '\e8a5'; } /* '' */
.mobile-icon-disclosure_open:before { content: '\e8a6'; } /* '' */
.mobile-icon-delete_cache:before { content: '\e8a7'; } /* '' */
.mobile-icon-error_fill:before { content: '\e8a8'; } /* '' */
.mobile-icon-bookmark_fill:before { content: '\e8a9'; } /* '' */
.mobile-icon-label_123:before { content: '\e8aa'; } /* '' */
.mobile-icon-drill_across:before { content: '\e8ab'; } /* '' */
.mobile-icon-drill_out:before { content: '\e8ac'; } /* '' */
.mobile-icon-check_unset:before { content: '\e8ad'; } /* '' */
.mobile-icon-label_123_fill:before { content: '\e8ae'; } /* '' */
.mobile-icon-compare_data:before { content: '\e8af'; } /* '' */
.mobile-icon-control_center_fill:before { content: '\e8b0'; } /* '' */
.mobile-icon-multi_layer_fill:before { content: '\e8b1'; } /* '' */
.mobile-icon-home:before { content: '\e8b2'; } /* '' */
.mobile-icon-label_a_1_fill:before { content: '\e8b3'; } /* '' */
.mobile-icon-label_a-1:before { content: '\e8b4'; } /* '' */
.mobile-icon-label_abc_fill:before { content: '\e8b5'; } /* '' */
.mobile-icon-label_abc:before { content: '\e8b6'; } /* '' */
.mobile-icon-checkmark:before { content: '\e8b7'; } /* '' */
.mobile-icon-checkmark_fill:before { content: '\e8b8'; } /* '' */
.mobile-icon-checkmark_empty:before { content: '\e8b9'; } /* '' */
.mobile-icon-left_arrow_bold:before { content: '\e8ba'; } /* '' */
.mobile-icon-sort_descending:before { content: '\e8bb'; } /* '' */
.mobile-icon-sort_ascending:before { content: '\e8bc'; } /* '' */
.mobile-icon-clear:before { content: '\e8bd'; } /* '' */
.mobile-icon-revert:before { content: '\e8be'; } /* '' */
.mobile-icon-sort_indicator_down:before { content: '\e8bf'; } /* '' */
.mobile-icon-personal:before { content: '\e8c0'; } /* '' */
.mobile-icon-toggle_total:before { content: '\e8c1'; } /* '' */
.mobile-icon-keep-only:before { content: '\e8c2'; } /* '' */
.mobile-icon-exclude:before { content: '\e8c3'; } /* '' */
.mobile-icon-muti_select:before { content: '\e8c4'; } /* '' */
.mobile-icon-drill:before { content: '\e8c5'; } /* '' */
.mobile-icon-ppt:before { content: '\e8c6'; } /* '' */
.mobile-icon-unknown:before { content: '\e8c7'; } /* '' */
.mobile-icon-result_from_apple_map:before { content: '\e8c8'; } /* '' */
.mobile-icon-result_from_dataset:before { content: '\e8c9'; } /* '' */
.mobile-icon-clear_sort_horizontal:before { content: '\e8ca'; } /* '' */
.mobile-icon-clear_sort_vertical:before { content: '\e8cb'; } /* '' */
.mobile-icon-viz_header:before { content: '\e8cc'; } /* '' */
.mobile-icon-edit_fill:before { content: '\e8cd'; } /* '' */
.mobile-icon-back:before { content: '\e8ce'; } /* '' */
.mobile-icon-multi_tap:before { content: '\e8cf'; } /* '' */
.mobile-icon-visualization_filter:before { content: '\e8dc'; } /* '' */
.mobile-icon-guest_profile:before { content: '\e8e3'; } /* '' */
.mobile-icon-search_users:before { content: '\e8e5'; } /* '' */
.mobile-icon-add_photo_fill:before { content: '\e8e6'; } /* '' */
.mobile-icon-transaction_new:before { content: '\e8eb'; } /* '' */
.mobile-icon-certified:before { content: '\e8f6'; } /* '' */
.mobile-icon-round_lasso_add:before { content: '\e8f7'; } /* '' */
.mobile-icon-square_lasso_add:before { content: '\e8f8'; } /* '' */
.mobile-icon-free_lasso_add:before { content: '\e8f9'; } /* '' */
.mobile-icon-square:before { content: '\e8fa'; } /* '' */
.mobile-icon-cloud_download:before { content: '\e8fb'; } /* '' */
.mobile-icon-add:before { content: '\e8fc'; } /* '' */
.mobile-icon-signature:before { content: '\e8fd'; } /* '' */
.mobile-icon-eraser:before { content: '\e8fe'; } /* '' */
.mobile-icon-close_toolbar:before { content: '\e901'; } /* '' */
.mobile-icon-add_fill:before { content: '\e915'; } /* '' */
.mobile-icon-collaboration_locked:before { content: '\e916'; } /* '' */
.mobile-icon-setting:before { content: '\e918'; } /* '' */
.mobile-icon-viz_bar:before { content: '\e919'; } /* '' */
.mobile-icon-render_viz:before { content: '\e91a'; } /* '' */
.mobile-icon--inactive:before { content: '\e91f'; } /* '' */
.mobile-icon-add_comments:before { content: '\e920'; } /* '' */
.mobile-icon-switch_to_grid:before { content: '\e921'; } /* '' */
.mobile-icon-switch_to_graph:before { content: '\e922'; } /* '' */
.mobile-icon-star_fill:before { content: '\e923'; } /* '' */
.mobile-icon-star_line:before { content: '\e924'; } /* '' */
.mobile-icon-ra_single_select:before { content: '\e928'; } /* '' */
.mobile-icon-ra_single_deselect:before { content: '\e929'; } /* '' */
.mobile-icon-ra_select_level:before { content: '\e92a'; } /* '' */
.mobile-icon-laser_mode_on:before { content: '\e92b'; } /* '' */
.mobile-icon-laser_mode_off:before { content: '\e92c'; } /* '' */
.mobile-icon-switch_folder:before { content: '\e93c'; } /* '' */
.mobile-icon-user_profile_fill:before { content: '\e93d'; } /* '' */
.mobile-icon-share:before { content: '\e93e'; } /* '' */
.mobile-icon-saml-2:before { content: '\e93f'; } /* '' */
.mobile-icon-up_arrow_bold:before { content: '\e941'; } /* '' */
.mobile-icon-down_arrow_bold:before { content: '\e942'; } /* '' */
.mobile-icon-right_arrow_bold:before { content: '\e943'; } /* '' */
.mobile-icon-slider-bar_iphone:before { content: '\e944'; } /* '' */
.mobile-icon-collect:before { content: '\e945'; } /* '' */
.mobile-icon-caching-error:before { content: '\e946'; } /* '' */
.mobile-icon-cad:before { content: '\e947'; } /* '' */
.mobile-icon-multi_layer:before { content: '\e948'; } /* '' */
.mobile-icon-control_center:before { content: '\e94a'; } /* '' */
.mobile-icon-map_style:before { content: '\e94b'; } /* '' */
.mobile-icon-go_to:before { content: '\e94c'; } /* '' */
.mobile-icon-go_to_fill:before { content: '\e94d'; } /* '' */
.mobile-icon-label_123_fill_more:before { content: '\e94e'; } /* '' */
.mobile-icon-label_abc_fill_more:before { content: '\e94f'; } /* '' */
.mobile-icon-label_a-1_more:before { content: '\e950'; } /* '' */
.mobile-icon-search_in_filter:before { content: '\e957'; } /* '' */
.mobile-icon-search_in_library:before { content: '\e958'; } /* '' */
.mobile-icon-page_landscape:before { content: '\e959'; } /* '' */
.mobile-icon-page_portrait:before { content: '\e95a'; } /* '' */
.mobile-icon-add-comments:before { content: '\e95b'; } /* '' */
.mobile-icon-reply:before { content: '\e95c'; } /* '' */
.mobile-icon-page2:before { content: '\e95d'; } /* '' */
.mobile-icon-mute_fill:before { content: '\e95e'; } /* '' */
.mobile-icon-mute:before { content: '\e95f'; } /* '' */
.mobile-icon-exit_fullscreen:before { content: '\e960'; } /* '' */
.mobile-icon-exit_nonfullscreen:before { content: '\e961'; } /* '' */
.mobile-icon-legend_fill:before { content: '\e977'; } /* '' */
.mobile-icon-legend:before { content: '\e978'; } /* '' */
.mobile-icon-filter_fill:before { content: '\e979'; } /* '' */
.mobile-icon-library_home_fill:before { content: '\e97b'; } /* '' */
.mobile-icon-edit_2:before { content: '\e97c'; } /* '' */
.mobile-icon-delete_remove_fill:before { content: '\e97d'; } /* '' */
.mobile-icon-delete_remove_line:before { content: '\e97e'; } /* '' */
.mobile-icon-share2_line:before { content: '\e97f'; } /* '' */
.mobile-icon-server:before { content: '\e980'; } /* '' */
.mobile-icon-server_error:before { content: '\e981'; } /* '' */
.mobile-icon-filter_error:before { content: '\e982'; } /* '' */
.mobile-icon-view:before { content: '\e983'; } /* '' */
.mobile-icon-invite_sent:before { content: '\e984'; } /* '' */
.mobile-icon-x_sort_area_ascending:before { content: '\e985'; } /* '' */
.mobile-icon-x_sort_area_descending:before { content: '\e986'; } /* '' */
.mobile-icon-y_sort_area_descending:before { content: '\e987'; } /* '' */
.mobile-icon-face_id:before { content: '\e988'; } /* '' */
.mobile-icon-x_sort_bar_descending:before { content: '\e989'; } /* '' */
.mobile-icon-y_sort_bar_ascending:before { content: '\e98a'; } /* '' */
.mobile-icon-y_sort_bar_descending:before { content: '\e98b'; } /* '' */
.mobile-icon-x_sort_bubble_ascending:before { content: '\e98c'; } /* '' */
.mobile-icon-x_sort_bubble_descending:before { content: '\e98d'; } /* '' */
.mobile-icon-y_sort_bubble_ascending:before { content: '\e98e'; } /* '' */
.mobile-icon-y_sort_bubble_descending:before { content: '\e98f'; } /* '' */
.mobile-icon-x_sort_line_ascending:before { content: '\e990'; } /* '' */
.mobile-icon-x_sort_line_descending:before { content: '\e991'; } /* '' */
.mobile-icon-y_sort_line_ascending:before { content: '\e992'; } /* '' */
.mobile-icon-saml-1:before { content: '\e993'; } /* '' */
.mobile-icon-x_sort_square_ascending:before { content: '\e994'; } /* '' */
.mobile-icon-x_sort_square_descending:before { content: '\e995'; } /* '' */
.mobile-icon-y_sort_square_descending:before { content: '\e996'; } /* '' */
.mobile-icon-y_sort_square_ascending:before { content: '\e997'; } /* '' */
.mobile-icon-x_sort_tick_ascending:before { content: '\e998'; } /* '' */
.mobile-icon-x_sort_tick_descending:before { content: '\e999'; } /* '' */
.mobile-icon-y_sort_tick_ascending:before { content: '\e99a'; } /* '' */
.mobile-icon-y_sort_tick_descending:before { content: '\e99b'; } /* '' */
.mobile-icon-mstr:before { content: '\e99e'; } /* '' */
.mobile-icon-mapbox_square:before { content: '\e99f'; } /* '' */
.mobile-icon-mapbox_area:before { content: '\e9a0'; } /* '' */
.mobile-icon-mapbox_circle:before { content: '\e9a1'; } /* '' */
.mobile-icon-user2:before { content: '\e9a2'; } /* '' */
.mobile-icon-user1:before { content: '\e9a3'; } /* '' */
.mobile-icon-rename:before { content: '\e9a9'; } /* '' */
.mobile-icon-share_dossier:before { content: '\e9ab'; } /* '' */
.mobile-icon-share_excel:before { content: '\e9ac'; } /* '' */
.mobile-icon-share_pdf:before { content: '\e9ad'; } /* '' */
.mobile-icon-share_mstr_file:before { content: '\e9ae'; } /* '' */
.mobile-icon-add_data:before { content: '\e9af'; } /* '' */
.mobile-icon-run_now:before { content: '\e9b1'; } /* '' */
.mobile-icon-unsubscribe:before { content: '\e9b2'; } /* '' */
.mobile-icon-my_content:before { content: '\e9b5'; } /* '' */
.mobile-icon-account_line:before { content: '\e9b6'; } /* '' */
.mobile-icon-aa_small_a:before { content: '\e9b7'; } /* '' */
.mobile-icon-aa_big_a:before { content: '\e9b8'; } /* '' */
.mobile-icon-show-all-data:before { content: '\e9b9'; } /* '' */
.mobile-icon-card_view_ios:before { content: '\e9bb'; } /* '' */
.mobile-icon-switch:before { content: '\e9bc'; } /* '' */
.mobile-icon-link_relevance:before { content: '\e9be'; } /* '' */
.mobile-icon-barcode_keypad:before { content: '\e9c5'; } /* '' */
.mobile-icon-internationalization_timezone-with-link:before { content: '\e9c8'; } /* '' */
.mobile-icon-internationalization_timezone:before { content: '\e9c9'; } /* '' */
.mobile-icon-no_search_results:before { content: '\e9cb'; } /* '' */
.mobile-icon-information_line:before { content: '\e9cd'; } /* '' */
.mobile-icon-information_fill:before { content: '\e9ce'; } /* '' */
.mobile-icon-error_line:before { content: '\e9cf'; } /* '' */
.mobile-icon-level:before { content: '\e9d0'; } /* '' */
.mobile-icon-checkmark_overstriking:before { content: '\e9d1'; } /* '' */
.mobile-icon-check_circle:before { content: '\e9d2'; } /* '' */
.mobile-icon-check_circle_line:before { content: '\e9d3'; } /* '' */
.mobile-icon-check_circle_fill:before { content: '\e9d4'; } /* '' */
.mobile-icon-filter-fill:before { content: '\e9d5'; } /* '' */
.mobile-icon-information:before { content: '\e9d7'; } /* '' */
.mobile-icon-dossier-cover:before { content: '\e9d9'; } /* '' */
.mobile-icon-drill_up:before { content: '\e9dd'; } /* '' */
.mobile-icon-drill_down:before { content: '\e9de'; } /* '' */
.mobile-icon-contextual-link:before { content: '\e9df'; } /* '' */
.mobile-icon-drill_template:before { content: '\e9e0'; } /* '' */
.mobile-icon-timestamp_fill:before { content: '\e9e1'; } /* '' */
.mobile-icon-hide-all-totals:before { content: '\e9e3'; } /* '' */
.mobile-icon-transactional-grid_edit:before { content: '\e9e6'; } /* '' */
.mobile-icon-qr_code_scanner:before { content: '\e9e8'; } /* '' */
.mobile-icon-cards_border:before { content: '\e9ea'; } /* '' */
.mobile-icon-cards_fill:before { content: '\e9eb'; } /* '' */
.mobile-icon-hyper_home_border:before { content: '\e9ec'; } /* '' */
.mobile-icon-hyper_home_fill:before { content: '\e9ed'; } /* '' */
.mobile-icon-library_logo1_big:before { content: '\e9ee'; } /* '' */
.mobile-icon-library_logo1_small:before { content: '\e9ef'; } /* '' */
.mobile-icon-library_logo2_big:before { content: '\e9f0'; } /* '' */
.mobile-icon-library_logo2_small:before { content: '\e9f1'; } /* '' */
.mobile-icon-fullscreen:before { content: '\e9f7'; } /* '' */
.mobile-icon-partially_selecte:before { content: '\ea02'; } /* '' */
.mobile-icon-orientation_landscape:before { content: '\ea0e'; } /* '' */
.mobile-icon-orientation_portrait:before { content: '\ea0f'; } /* '' */
.mobile-icon-close_chamfer:before { content: '\ea10'; } /* '' */
.mobile-icon-timestamp_fill_thick:before { content: '\ea12'; } /* '' */
.mobile-icon-kerberos:before { content: '\ea16'; } /* '' */
.mobile-icon-trusted:before { content: '\ea17'; } /* '' */
.mobile-icon-saml:before { content: '\ea18'; } /* '' */
.mobile-icon-drag-and-order:before { content: '\ea1b'; } /* '' */
.mobile-icon-certified3:before { content: '\ea1c'; } /* '' */
.mobile-icon-waiting_for_rendering:before { content: '\ea28'; } /* '' */
.mobile-icon-exit_fullscreen_1:before { content: '\ea2f'; } /* '' */
.mobile-icon-exit_nonfullscreen_1:before { content: '\ea30'; } /* '' */
.mobile-icon-add_bookmark:before { content: '\ea32'; } /* '' */
.mobile-icon-downloaded_and_up-to-date_fill:before { content: '\ea38'; } /* '' */
.mobile-icon-downloaded_and_up-to-date_overstriking:before { content: '\ea39'; } /* '' */
.mobile-icon-group2:before { content: '\ea3a'; } /* '' */
.mobile-icon-bookmark:before { content: '\ea3b'; } /* '' */
.mobile-icon-favorite_line:before { content: '\ea3e'; } /* '' */
.mobile-icon-unfavorite:before { content: '\ea3f'; } /* '' */
.mobile-icon-map_error:before { content: '\ea4d'; } /* '' */
.mobile-icon-layers_error:before { content: '\ea4e'; } /* '' */
.mobile-icon--favorite:before { content: '\ea67'; } /* '' */
.mobile-icon--favorite_fill:before { content: '\ea68'; } /* '' */
.mobile-icon-unknown_fill:before { content: '\ea6a'; } /* '' */
.mobile-icon-hyper_app:before { content: '\ea6c'; } /* '' */
.mobile-icon-control_center-1:before { content: '\ea6d'; } /* '' */
.mobile-icon-security_locked_line:before { content: '\ea7a'; } /* '' */
.mobile-icon-calendar_events_fill:before { content: '\ea80'; } /* '' */
.mobile-icon-calendar_events:before { content: '\ea81'; } /* '' */
.mobile-icon-clear_view_filter_line:before { content: '\ea95'; } /* '' */
.mobile-icon-flashlight_off:before { content: '\ea96'; } /* '' */
.mobile-icon-flashlight_on:before { content: '\ea97'; } /* '' */
.mobile-icon-x_sort_waterfall_ascending:before { content: '\eaa7'; } /* '' */
.mobile-icon-x_sort_waterfall_descending:before { content: '\eaa8'; } /* '' */
.mobile-icon-url:before { content: '\eaa9'; } /* '' */
.mobile-icon-copy_cell:before { content: '\eaaa'; } /* '' */
.mobile-icon-copy_row:before { content: '\eaab'; } /* '' */
.mobile-icon-my_shared:before { content: '\eaad'; } /* '' */
.mobile-icon-shared:before { content: '\eaae'; } /* '' */
.mobile-icon-library_sdk:before { content: '\eaaf'; } /* '' */
.mobile-icon-y_sort_waterfall_descending:before { content: '\eab1'; } /* '' */
.mobile-icon-aa:before { content: '\eab2'; } /* '' */
.mobile-icon-group-1:before { content: '\eab8'; } /* '' */
.mobile-icon-add_2:before { content: '\eab9'; } /* '' */
.mobile-icon-recently:before { content: '\eaba'; } /* '' */
.mobile-icon-time:before { content: '\eabb'; } /* '' */
.mobile-icon-library_all:before { content: '\eabc'; } /* '' */
.mobile-icon-cluster_more:before { content: '\eabd'; } /* '' */
.mobile-icon-line_more:before { content: '\eabe'; } /* '' */
.mobile-icon-oval_more:before { content: '\eabf'; } /* '' */
.mobile-icon-cluster:before { content: '\eac0'; } /* '' */
.mobile-icon-line:before { content: '\eac1'; } /* '' */
.mobile-icon-oval:before { content: '\eac2'; } /* '' */
.mobile-icon-consolidation:before { content: '\eac3'; } /* '' */
.mobile-icon-fact:before { content: '\eac4'; } /* '' */
.mobile-icon-template:before { content: '\eac5'; } /* '' */
.mobile-icon-prompt_cg:before { content: '\eac6'; } /* '' */
.mobile-icon-hierarchy:before { content: '\eac7'; } /* '' */
.mobile-icon-filter_line:before { content: '\eac8'; } /* '' */
.mobile-icon-more_vertical:before { content: '\eac9'; } /* '' */
.mobile-icon-downloaded-and-up-to-date2:before { content: '\eaca'; } /* '' */
.mobile-icon-downloaded-and-up-to-date_line2:before { content: '\eacb'; } /* '' */
.mobile-icon-bookmark_save:before { content: '\ead6'; } /* '' */
.mobile-icon-message-sent:before { content: '\eadd'; } /* '' */
.mobile-icon-warning:before { content: '\eade'; } /* '' */
.mobile-icon-new:before { content: '\eadf'; } /* '' */
.mobile-icon-updated:before { content: '\eae0'; } /* '' */
.mobile-icon-tag_:before { content: '\eae1'; } /* '' */
.mobile-icon-undo_line:before { content: '\eae2'; } /* '' */
.mobile-icon-redo_line:before { content: '\eae3'; } /* '' */
.mobile-icon-undo_fill:before { content: '\eae4'; } /* '' */
.mobile-icon-redo_fill:before { content: '\eae5'; } /* '' */
.mobile-icon-server_fill:before { content: '\eaf1'; } /* '' */
.mobile-icon-server_line:before { content: '\eaf2'; } /* '' */
.mobile-icon-prompt:before { content: '\eaf4'; } /* '' */
.mobile-icon-page-by:before { content: '\eaf5'; } /* '' */
.mobile-icon-rsd-cover:before { content: '\eaf9'; } /* '' */
.mobile-icon-page-by-fill:before { content: '\eafa'; } /* '' */
.mobile-icon-insights:before { content: '\eb16'; } /* '' */
.mobile-icon-watchlist:before { content: '\eb17'; } /* '' */
.mobile-icon-parent_unselected_children_selected:before { content: '\eb26'; } /* '' */
.mobile-icon-parent_selected_children_selected:before { content: '\eb27'; } /* '' */
.mobile-icon-parent_selected_children_unselected:before { content: '\eb28'; } /* '' */
.mobile-icon-badge_fill:before { content: '\eb30'; } /* '' */
.mobile-icon-badge_line:before { content: '\eb31'; } /* '' */
.mobile-icon-edit_fill-1:before { content: '\eb39'; } /* '' */
.mobile-icon-touch_id:before { content: '\eb3b'; } /* '' */
.mobile-icon-go_to_target:before { content: '\eb5d'; } /* '' */
.mobile-icon-disclosure_back:before { content: '\eb88'; } /* '' */
.mobile-icon-disclosure_closed:before { content: '\eb89'; } /* '' */
.mobile-icon-bulb_lighten:before { content: '\eb8a'; } /* '' */
.mobile-icon-disclosure---collapse:before { content: '\eb8b'; } /* '' */
.mobile-icon-keyboard_expand:before { content: '\eb95'; } /* '' */
.mobile-icon-keyboard_collapse:before { content: '\eb96'; } /* '' */
.mobile-icon-legend_filter:before { content: '\eb97'; } /* '' */
.mobile-icon-preload:before { content: '\eb9f'; } /* '' */
.mobile-icon-already_cached:before { content: '\eba0'; } /* '' */
.mobile-icon-spinner_on_toolbar:before { content: '\eba1'; } /* '' */
.mobile-icon-report-cover:before { content: '\ebae'; } /* '' */
.mobile-icon-re-execute:before { content: '\ebb6'; } /* '' */
.mobile-icon-add-to-insights:before { content: '\ebc6'; } /* '' */
.mobile-icon-rotate_device:before { content: '\ebd1'; } /* '' */
.mobile-icon-link_2:before { content: '\ec26'; } /* '' */
.mobile-icon-replace:before { content: '\ec3d'; } /* '' */
.mobile-icon-metric_fx:before { content: '\ec3e'; } /* '' */
.mobile-icon-attribute_fx:before { content: '\ec3f'; } /* '' */
.mobile-icon-folder2_fill:before { content: '\ec51'; } /* '' */
.mobile-icon-favorite_fill:before { content: '\ec52'; } /* '' */
.mobile-icon-recents_fill:before { content: '\ec53'; } /* '' */
.mobile-icon-page2_fill-1:before { content: '\ec54'; } /* '' */
.mobile-icon-sort_and_filter:before { content: '\ec55'; } /* '' */
.mobile-icon-caching2_line:before { content: '\ec56'; } /* '' */
.mobile-icon-caching2_fill:before { content: '\ec57'; } /* '' */
.mobile-icon-context_menu:before { content: '\ec58'; } /* '' */
.mobile-icon-library_home_line:before { content: '\ec59'; } /* '' */
.mobile-icon-group_fill:before { content: '\ec5a'; } /* '' */
.mobile-icon-group_line:before { content: '\ec5b'; } /* '' */
.mobile-icon-side_bar_ipad:before { content: '\ec5c'; } /* '' */
.mobile-icon-reset:before { content: '\ec6a'; } /* '' */
.mobile-icon-dataset:before { content: '\ec7a'; } /* '' */
.mobile-icon-report:before { content: '\ec7b'; } /* '' */
.mobile-icon-mstr_deleted:before { content: '\ecc8'; } /* '' */
.mobile-icon-pdf_deleted:before { content: '\ecc9'; } /* '' */
.mobile-icon-metric_fx_line:before { content: '\ed61'; } /* '' */
.mobile-icon-metric_fx_fill:before { content: '\ed62'; } /* '' */
.mobile-icon-prompt_cg_fill:before { content: '\ed63'; } /* '' */
