[class^="icon-"], [class*=" icon-"] {
  font-family: 'mobile_dossier_ios';
  font-style: normal;
  font-weight: normal;

  /* fix buttons height */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.icon-filter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }
.icon-list { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;'); }
.icon-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;'); }
.icon-share1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;'); }
.icon-sort { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;'); }
.icon-styles { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;'); }
.icon-thumbnails { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;'); }
.icon-toc { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;'); }
.icon-dossier { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe808;&nbsp;'); }
.icon-dossier_round_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe809;&nbsp;'); }
.icon-share_ios { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80a;&nbsp;'); }
.icon-page { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80b;&nbsp;'); }
.icon-link { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80c;&nbsp;'); }
.icon-collaboration { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80d;&nbsp;'); }
.icon-user_profile { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80e;&nbsp;'); }
.icon-selector { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80f;&nbsp;'); }
.icon-calendar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe810;&nbsp;'); }
.icon-download { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe811;&nbsp;'); }
.icon-sort_z_a { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe812;&nbsp;'); }
.icon-connection_error { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe813;&nbsp;'); }
.icon-down_arrow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe814;&nbsp;'); }
.icon-check { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe815;&nbsp;'); }
.icon-close { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe816;&nbsp;'); }
.icon-communication { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe817;&nbsp;'); }
.icon-sort_a_z { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe818;&nbsp;'); }
.icon-grid_users_view { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe819;&nbsp;'); }
.icon-downloaded_and_up-to-date { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81a;&nbsp;'); }
.icon-information_old { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81b;&nbsp;'); }
.icon-left_arrow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81c;&nbsp;'); }
.icon-map_user_view { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81d;&nbsp;'); }
.icon-new_group { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81e;&nbsp;'); }
.icon-right_arrow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81f;&nbsp;'); }
.icon-triangle_toggle_off { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe820;&nbsp;'); }
.icon-triangle_toggle_on { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe821;&nbsp;'); }
.icon-up_arrow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe822;&nbsp;'); }
.icon-zoom_in { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe823;&nbsp;'); }
.icon-zoom_out { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe824;&nbsp;'); }
.icon-message { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe825;&nbsp;'); }
.icon-trash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe826;&nbsp;'); }
.icon-email { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe827;&nbsp;'); }
.icon-log_out { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe828;&nbsp;'); }
.icon-round_lasso { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe829;&nbsp;'); }
.icon-square_lasso { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82a;&nbsp;'); }
.icon-free_lasso { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82b;&nbsp;'); }
.icon-call { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82c;&nbsp;'); }
.icon-facetime { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82d;&nbsp;'); }
.icon-group { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82e;&nbsp;'); }
.icon-refresh { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82f;&nbsp;'); }
.icon-fr_expand { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe830;&nbsp;'); }
.icon-fr_collapse { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe831;&nbsp;'); }
.icon-ra_filter_expand { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe832;&nbsp;'); }
.icon-ra_filter_collapse { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe833;&nbsp;'); }
.icon-sort_indicator_left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe834;&nbsp;'); }
.icon-current_location_off { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe835;&nbsp;'); }
.icon-current_location_off_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe836;&nbsp;'); }
.icon-check_overstriking { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe837;&nbsp;'); }
.icon-sort_indicator_right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe838;&nbsp;'); }
.icon-sort_indicator_up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe839;&nbsp;'); }
.icon-list_view { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83a;&nbsp;'); }
.icon-more_inside { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83b;&nbsp;'); }
.icon-rsd { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83c;&nbsp;'); }
.icon-loading { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83d;&nbsp;'); }
.icon-share_link { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83e;&nbsp;'); }
.icon-list_view_ios { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83f;&nbsp;'); }
.icon-unauthorized_network { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe840;&nbsp;'); }
.icon-photo_uploader_retake { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe841;&nbsp;'); }
.icon-add_photo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe842;&nbsp;'); }
.icon-label_xyz_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe843;&nbsp;'); }
.icon-label_xyz { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe844;&nbsp;'); }
.icon-square_lasso_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe845;&nbsp;'); }
.icon-free_lasso_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe846;&nbsp;'); }
.icon-recently_searched { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe847;&nbsp;'); }
.icon-search_empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe848;&nbsp;'); }
.icon-round_lasso_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe849;&nbsp;'); }
.icon-show_data { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84a;&nbsp;'); }
.icon-switch_server { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84b;&nbsp;'); }
.icon-map_styles_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84c;&nbsp;'); }
.icon-audio { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84d;&nbsp;'); }
.icon-video { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84e;&nbsp;'); }
.icon-doc { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84f;&nbsp;'); }
.icon-ebook { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe850;&nbsp;'); }
.icon-excel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe851;&nbsp;'); }
.icon-html { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe852;&nbsp;'); }
.icon-image { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe853;&nbsp;'); }
.icon-offline { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe854;&nbsp;'); }
.icon-gloomy_face { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe855;&nbsp;'); }
.icon-undefined_visualization { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe856;&nbsp;'); }
.icon-fail_to_render_image { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe857;&nbsp;'); }
.icon-device { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe858;&nbsp;'); }
.icon-collaboration_empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe859;&nbsp;'); }
.icon-fail_to_render_html { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85a;&nbsp;'); }
.icon-fail_to_render_viz { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85b;&nbsp;'); }
.icon-empty_library { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85c;&nbsp;'); }
.icon-unviewable { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85d;&nbsp;'); }
.icon-metric { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85e;&nbsp;'); }
.icon-metric_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85f;&nbsp;'); }
.icon-attribute { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe860;&nbsp;'); }
.icon-attribute_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe861;&nbsp;'); }
.icon-microphone { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe862;&nbsp;'); }
.icon-microphone_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe863;&nbsp;'); }
.icon-edit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe864;&nbsp;'); }
.icon-no_location_user { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe865;&nbsp;'); }
.icon-notification { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe866;&nbsp;'); }
.icon-push_notification { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe867;&nbsp;'); }
.icon-triangle_drop-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe868;&nbsp;'); }
.icon-triangle_drop-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe869;&nbsp;'); }
.icon-txt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86a;&nbsp;'); }
.icon-radio_button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86b;&nbsp;'); }
.icon-history_viewed- { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86c;&nbsp;'); }
.icon-no_notification { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86d;&nbsp;'); }
.icon-mapbox_pin { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86e;&nbsp;'); }
.icon-chapter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86f;&nbsp;'); }
.icon-view_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe870;&nbsp;'); }
.icon-invisible { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe871;&nbsp;'); }
.icon-security_locked { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe872;&nbsp;'); }
.icon-mapbox_diamond { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe873;&nbsp;'); }
.icon-expand { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe874;&nbsp;'); }
.icon-annotation { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe875;&nbsp;'); }
.icon-more { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe876;&nbsp;'); }
.icon-pdf { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe877;&nbsp;'); }
.icon-print { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe878;&nbsp;'); }
.icon-transaction { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe879;&nbsp;'); }
.icon-prompt-fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87a;&nbsp;'); }
.icon-reduce { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87b;&nbsp;'); }
.icon-clear2_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87c;&nbsp;'); }
.icon-clear2_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87d;&nbsp;'); }
.icon-oidc { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87e;&nbsp;'); }
.icon-collaboration2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87f;&nbsp;'); }
.icon-certified2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe880;&nbsp;'); }
.icon-caching { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe881;&nbsp;'); }
.icon-link_1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe882;&nbsp;'); }
.icon-pdf_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe883;&nbsp;'); }
.icon-page2_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe884;&nbsp;'); }
.icon-server-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe885;&nbsp;'); }
.icon-export { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe886;&nbsp;'); }
.icon-add-discussion { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe887;&nbsp;'); }
.icon-pdf_font { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe888;&nbsp;'); }
.icon-send { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe889;&nbsp;'); }
.icon-save_with_bookmark { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88a;&nbsp;'); }
.icon-x_sort_a_z { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88b;&nbsp;'); }
.icon-x_sort_z_a { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88c;&nbsp;'); }
.icon-y_sort_a_z { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88d;&nbsp;'); }
.icon-y_sort_z_a { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88e;&nbsp;'); }
.icon-y_sort_area_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88f;&nbsp;'); }
.icon-x_sort_bar_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe890;&nbsp;'); }
.icon-error_indicator { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe891;&nbsp;'); }
.icon-error_indicator_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe892;&nbsp;'); }
.icon-filter_panal_ra_more_level { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe893;&nbsp;'); }
.icon-filter_panal_ra { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe894;&nbsp;'); }
.icon-transaction_half { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe895;&nbsp;'); }
.icon-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe896;&nbsp;'); }
.icon-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe897;&nbsp;'); }
.icon-next { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe898;&nbsp;'); }
.icon-delete_edit_mode { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe899;&nbsp;'); }
.icon-y_sort_line_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89a;&nbsp;'); }
.icon-y_sort_10_1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89b;&nbsp;'); }
.icon-timestamp { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89c;&nbsp;'); }
.icon-y_sort_1_10 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89d;&nbsp;'); }
.icon-y_sort_pie_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89e;&nbsp;'); }
.icon-x_sort_pie_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89f;&nbsp;'); }
.icon-y_sort_pie_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a0;&nbsp;'); }
.icon-clear_view_filter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a1;&nbsp;'); }
.icon-x_sort_pie_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a2;&nbsp;'); }
.icon-y_sort_waterfall_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a3;&nbsp;'); }
.icon-legend_arrow_right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a4;&nbsp;'); }
.icon-legend_arrow_left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a5;&nbsp;'); }
.icon-disclosure_open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a6;&nbsp;'); }
.icon-delete_cache { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a7;&nbsp;'); }
.icon-error_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a8;&nbsp;'); }
.icon-bookmark_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a9;&nbsp;'); }
.icon-label_123 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8aa;&nbsp;'); }
.icon-drill_across { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ab;&nbsp;'); }
.icon-drill_out { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ac;&nbsp;'); }
.icon-check_unset { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ad;&nbsp;'); }
.icon-label_123_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ae;&nbsp;'); }
.icon-compare_data { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8af;&nbsp;'); }
.icon-control_center_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b0;&nbsp;'); }
.icon-multi_layer_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b1;&nbsp;'); }
.icon-home { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b2;&nbsp;'); }
.icon-label_a_1_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b3;&nbsp;'); }
.icon-label_a-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b4;&nbsp;'); }
.icon-label_abc_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b5;&nbsp;'); }
.icon-label_abc { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b6;&nbsp;'); }
.icon-checkmark { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b7;&nbsp;'); }
.icon-checkmark_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b8;&nbsp;'); }
.icon-checkmark_empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b9;&nbsp;'); }
.icon-left_arrow_bold { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ba;&nbsp;'); }
.icon-sort_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8bb;&nbsp;'); }
.icon-sort_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8bc;&nbsp;'); }
.icon-clear { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8bd;&nbsp;'); }
.icon-revert { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8be;&nbsp;'); }
.icon-sort_indicator_down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8bf;&nbsp;'); }
.icon-personal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c0;&nbsp;'); }
.icon-toggle_total { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c1;&nbsp;'); }
.icon-keep-only { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c2;&nbsp;'); }
.icon-exclude { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c3;&nbsp;'); }
.icon-muti_select { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c4;&nbsp;'); }
.icon-drill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c5;&nbsp;'); }
.icon-ppt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c6;&nbsp;'); }
.icon-unknown { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c7;&nbsp;'); }
.icon-result_from_apple_map { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c8;&nbsp;'); }
.icon-result_from_dataset { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c9;&nbsp;'); }
.icon-clear_sort_horizontal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ca;&nbsp;'); }
.icon-clear_sort_vertical { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8cb;&nbsp;'); }
.icon-viz_header { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8cc;&nbsp;'); }
.icon-edit_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8cd;&nbsp;'); }
.icon-back { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ce;&nbsp;'); }
.icon-multi_tap { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8cf;&nbsp;'); }
.icon-visualization_filter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8dc;&nbsp;'); }
.icon-guest_profile { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e3;&nbsp;'); }
.icon-search_users { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e5;&nbsp;'); }
.icon-add_photo_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e6;&nbsp;'); }
.icon-transaction_new { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8eb;&nbsp;'); }
.icon-certified { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f6;&nbsp;'); }
.icon-round_lasso_add { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f7;&nbsp;'); }
.icon-square_lasso_add { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f8;&nbsp;'); }
.icon-free_lasso_add { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f9;&nbsp;'); }
.icon-square { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8fa;&nbsp;'); }
.icon-cloud_download { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8fb;&nbsp;'); }
.icon-add { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8fc;&nbsp;'); }
.icon-signature { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8fd;&nbsp;'); }
.icon-eraser { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8fe;&nbsp;'); }
.icon-close_toolbar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe901;&nbsp;'); }
.icon-add_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe915;&nbsp;'); }
.icon-collaboration_locked { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe916;&nbsp;'); }
.icon-setting { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe918;&nbsp;'); }
.icon-viz_bar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe919;&nbsp;'); }
.icon-render_viz { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91a;&nbsp;'); }
.icon--inactive { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91f;&nbsp;'); }
.icon-add_comments { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe920;&nbsp;'); }
.icon-switch_to_grid { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe921;&nbsp;'); }
.icon-switch_to_graph { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe922;&nbsp;'); }
.icon-star_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe923;&nbsp;'); }
.icon-star_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe924;&nbsp;'); }
.icon-ra_single_select { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe928;&nbsp;'); }
.icon-ra_single_deselect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe929;&nbsp;'); }
.icon-ra_select_level { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92a;&nbsp;'); }
.icon-laser_mode_on { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92b;&nbsp;'); }
.icon-laser_mode_off { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92c;&nbsp;'); }
.icon-switch_folder { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe93c;&nbsp;'); }
.icon-user_profile_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe93d;&nbsp;'); }
.icon-share { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe93e;&nbsp;'); }
.icon-saml-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe93f;&nbsp;'); }
.icon-up_arrow_bold { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe941;&nbsp;'); }
.icon-down_arrow_bold { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe942;&nbsp;'); }
.icon-right_arrow_bold { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe943;&nbsp;'); }
.icon-slider-bar_iphone { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe944;&nbsp;'); }
.icon-collect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe945;&nbsp;'); }
.icon-caching-error { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe946;&nbsp;'); }
.icon-cad { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe947;&nbsp;'); }
.icon-multi_layer { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe948;&nbsp;'); }
.icon-control_center { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe94a;&nbsp;'); }
.icon-map_style { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe94b;&nbsp;'); }
.icon-go_to { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe94c;&nbsp;'); }
.icon-go_to_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe94d;&nbsp;'); }
.icon-label_123_fill_more { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe94e;&nbsp;'); }
.icon-label_abc_fill_more { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe94f;&nbsp;'); }
.icon-label_a-1_more { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe950;&nbsp;'); }
.icon-search_in_filter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe957;&nbsp;'); }
.icon-search_in_library { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe958;&nbsp;'); }
.icon-page_landscape { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe959;&nbsp;'); }
.icon-page_portrait { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe95a;&nbsp;'); }
.icon-add-comments { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe95b;&nbsp;'); }
.icon-reply { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe95c;&nbsp;'); }
.icon-page2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe95d;&nbsp;'); }
.icon-mute_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe95e;&nbsp;'); }
.icon-mute { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe95f;&nbsp;'); }
.icon-exit_fullscreen { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe960;&nbsp;'); }
.icon-exit_nonfullscreen { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe961;&nbsp;'); }
.icon-legend_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe977;&nbsp;'); }
.icon-legend { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe978;&nbsp;'); }
.icon-filter_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe979;&nbsp;'); }
.icon-library_home_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe97b;&nbsp;'); }
.icon-edit_2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe97c;&nbsp;'); }
.icon-delete_remove_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe97d;&nbsp;'); }
.icon-delete_remove_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe97e;&nbsp;'); }
.icon-share2_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe97f;&nbsp;'); }
.icon-server { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe980;&nbsp;'); }
.icon-server_error { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe981;&nbsp;'); }
.icon-filter_error { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe982;&nbsp;'); }
.icon-view { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe983;&nbsp;'); }
.icon-invite_sent { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe984;&nbsp;'); }
.icon-x_sort_area_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe985;&nbsp;'); }
.icon-x_sort_area_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe986;&nbsp;'); }
.icon-y_sort_area_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe987;&nbsp;'); }
.icon-face_id { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe988;&nbsp;'); }
.icon-x_sort_bar_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe989;&nbsp;'); }
.icon-y_sort_bar_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe98a;&nbsp;'); }
.icon-y_sort_bar_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe98b;&nbsp;'); }
.icon-x_sort_bubble_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe98c;&nbsp;'); }
.icon-x_sort_bubble_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe98d;&nbsp;'); }
.icon-y_sort_bubble_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe98e;&nbsp;'); }
.icon-y_sort_bubble_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe98f;&nbsp;'); }
.icon-x_sort_line_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe990;&nbsp;'); }
.icon-x_sort_line_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe991;&nbsp;'); }
.icon-y_sort_line_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe992;&nbsp;'); }
.icon-saml-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe993;&nbsp;'); }
.icon-x_sort_square_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe994;&nbsp;'); }
.icon-x_sort_square_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe995;&nbsp;'); }
.icon-y_sort_square_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe996;&nbsp;'); }
.icon-y_sort_square_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe997;&nbsp;'); }
.icon-x_sort_tick_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe998;&nbsp;'); }
.icon-x_sort_tick_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe999;&nbsp;'); }
.icon-y_sort_tick_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe99a;&nbsp;'); }
.icon-y_sort_tick_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe99b;&nbsp;'); }
.icon-mstr { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe99e;&nbsp;'); }
.icon-mapbox_square { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe99f;&nbsp;'); }
.icon-mapbox_area { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a0;&nbsp;'); }
.icon-mapbox_circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a1;&nbsp;'); }
.icon-user2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a2;&nbsp;'); }
.icon-user1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a3;&nbsp;'); }
.icon-rename { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a9;&nbsp;'); }
.icon-share_dossier { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ab;&nbsp;'); }
.icon-share_excel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ac;&nbsp;'); }
.icon-share_pdf { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ad;&nbsp;'); }
.icon-share_mstr_file { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ae;&nbsp;'); }
.icon-add_data { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9af;&nbsp;'); }
.icon-run_now { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b1;&nbsp;'); }
.icon-unsubscribe { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b2;&nbsp;'); }
.icon-my_content { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b5;&nbsp;'); }
.icon-account_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b6;&nbsp;'); }
.icon-aa_small_a { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b7;&nbsp;'); }
.icon-aa_big_a { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b8;&nbsp;'); }
.icon-show-all-data { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b9;&nbsp;'); }
.icon-card_view_ios { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9bb;&nbsp;'); }
.icon-switch { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9bc;&nbsp;'); }
.icon-link_relevance { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9be;&nbsp;'); }
.icon-barcode_keypad { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c5;&nbsp;'); }
.icon-internationalization_timezone-with-link { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c8;&nbsp;'); }
.icon-internationalization_timezone { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c9;&nbsp;'); }
.icon-no_search_results { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9cb;&nbsp;'); }
.icon-information_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9cd;&nbsp;'); }
.icon-information_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ce;&nbsp;'); }
.icon-error_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9cf;&nbsp;'); }
.icon-level { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d0;&nbsp;'); }
.icon-checkmark_overstriking { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d1;&nbsp;'); }
.icon-check_circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d2;&nbsp;'); }
.icon-check_circle_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d3;&nbsp;'); }
.icon-check_circle_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d4;&nbsp;'); }
.icon-filter-fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d5;&nbsp;'); }
.icon-information { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d7;&nbsp;'); }
.icon-dossier-cover { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9d9;&nbsp;'); }
.icon-drill_up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9dd;&nbsp;'); }
.icon-drill_down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9de;&nbsp;'); }
.icon-contextual-link { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9df;&nbsp;'); }
.icon-drill_template { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9e0;&nbsp;'); }
.icon-timestamp_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9e1;&nbsp;'); }
.icon-hide-all-totals { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9e3;&nbsp;'); }
.icon-transactional-grid_edit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9e6;&nbsp;'); }
.icon-qr_code_scanner { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9e8;&nbsp;'); }
.icon-cards_border { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ea;&nbsp;'); }
.icon-cards_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9eb;&nbsp;'); }
.icon-hyper_home_border { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ec;&nbsp;'); }
.icon-hyper_home_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ed;&nbsp;'); }
.icon-library_logo1_big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ee;&nbsp;'); }
.icon-library_logo1_small { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ef;&nbsp;'); }
.icon-library_logo2_big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9f0;&nbsp;'); }
.icon-library_logo2_small { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9f1;&nbsp;'); }
.icon-fullscreen { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9f7;&nbsp;'); }
.icon-partially_selecte { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea02;&nbsp;'); }
.icon-orientation_landscape { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0e;&nbsp;'); }
.icon-orientation_portrait { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0f;&nbsp;'); }
.icon-close_chamfer { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea10;&nbsp;'); }
.icon-timestamp_fill_thick { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea12;&nbsp;'); }
.icon-kerberos { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea16;&nbsp;'); }
.icon-trusted { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea17;&nbsp;'); }
.icon-saml { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea18;&nbsp;'); }
.icon-drag-and-order { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea1b;&nbsp;'); }
.icon-certified3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea1c;&nbsp;'); }
.icon-waiting_for_rendering { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea28;&nbsp;'); }
.icon-exit_fullscreen_1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea2f;&nbsp;'); }
.icon-exit_nonfullscreen_1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea30;&nbsp;'); }
.icon-add_bookmark { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea32;&nbsp;'); }
.icon-downloaded_and_up-to-date_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea38;&nbsp;'); }
.icon-downloaded_and_up-to-date_overstriking { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea39;&nbsp;'); }
.icon-group2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3a;&nbsp;'); }
.icon-bookmark { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3b;&nbsp;'); }
.icon-favorite_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3e;&nbsp;'); }
.icon-unfavorite { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3f;&nbsp;'); }
.icon-map_error { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea4d;&nbsp;'); }
.icon-layers_error { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea4e;&nbsp;'); }
.icon--favorite { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea67;&nbsp;'); }
.icon--favorite_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea68;&nbsp;'); }
.icon-unknown_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6a;&nbsp;'); }
.icon-hyper_app { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6c;&nbsp;'); }
.icon-control_center-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6d;&nbsp;'); }
.icon-security_locked_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea7a;&nbsp;'); }
.icon-calendar_events_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea80;&nbsp;'); }
.icon-calendar_events { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea81;&nbsp;'); }
.icon-clear_view_filter_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea95;&nbsp;'); }
.icon-flashlight_off { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea96;&nbsp;'); }
.icon-flashlight_on { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea97;&nbsp;'); }
.icon-x_sort_waterfall_ascending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa7;&nbsp;'); }
.icon-x_sort_waterfall_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa8;&nbsp;'); }
.icon-url { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa9;&nbsp;'); }
.icon-copy_cell { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaaa;&nbsp;'); }
.icon-copy_row { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaab;&nbsp;'); }
.icon-my_shared { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaad;&nbsp;'); }
.icon-shared { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaae;&nbsp;'); }
.icon-library_sdk { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaaf;&nbsp;'); }
.icon-y_sort_waterfall_descending { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab1;&nbsp;'); }
.icon-aa { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab2;&nbsp;'); }
.icon-group-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab8;&nbsp;'); }
.icon-add_2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab9;&nbsp;'); }
.icon-recently { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaba;&nbsp;'); }
.icon-time { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabb;&nbsp;'); }
.icon-library_all { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabc;&nbsp;'); }
.icon-cluster_more { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabd;&nbsp;'); }
.icon-line_more { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabe;&nbsp;'); }
.icon-oval_more { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabf;&nbsp;'); }
.icon-cluster { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac0;&nbsp;'); }
.icon-line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac1;&nbsp;'); }
.icon-oval { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac2;&nbsp;'); }
.icon-consolidation { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac3;&nbsp;'); }
.icon-fact { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac4;&nbsp;'); }
.icon-template { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac5;&nbsp;'); }
.icon-prompt_cg { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac6;&nbsp;'); }
.icon-hierarchy { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac7;&nbsp;'); }
.icon-filter_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac8;&nbsp;'); }
.icon-more_vertical { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac9;&nbsp;'); }
.icon-downloaded-and-up-to-date2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaca;&nbsp;'); }
.icon-downloaded-and-up-to-date_line2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeacb;&nbsp;'); }
.icon-bookmark_save { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead6;&nbsp;'); }
.icon-message-sent { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadd;&nbsp;'); }
.icon-warning { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeade;&nbsp;'); }
.icon-new { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadf;&nbsp;'); }
.icon-updated { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae0;&nbsp;'); }
.icon-tag_@ { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae1;&nbsp;'); }
.icon-undo_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae2;&nbsp;'); }
.icon-redo_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae3;&nbsp;'); }
.icon-undo_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae4;&nbsp;'); }
.icon-redo_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae5;&nbsp;'); }
.icon-server_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf1;&nbsp;'); }
.icon-server_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf2;&nbsp;'); }
.icon-prompt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf4;&nbsp;'); }
.icon-page-by { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf5;&nbsp;'); }
.icon-rsd-cover { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf9;&nbsp;'); }
.icon-page-by-fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafa;&nbsp;'); }
.icon-insights { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb16;&nbsp;'); }
.icon-watchlist { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb17;&nbsp;'); }
.icon-parent_unselected_children_selected { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb26;&nbsp;'); }
.icon-parent_selected_children_selected { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb27;&nbsp;'); }
.icon-parent_selected_children_unselected { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb28;&nbsp;'); }
.icon-badge_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb30;&nbsp;'); }
.icon-badge_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb31;&nbsp;'); }
.icon-edit_fill-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb39;&nbsp;'); }
.icon-touch_id { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb3b;&nbsp;'); }
.icon-go_to_target { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb5d;&nbsp;'); }
.icon-disclosure_back { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb88;&nbsp;'); }
.icon-disclosure_closed { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb89;&nbsp;'); }
.icon-bulb_lighten { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb8a;&nbsp;'); }
.icon-disclosure---collapse { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb8b;&nbsp;'); }
.icon-keyboard_expand { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb95;&nbsp;'); }
.icon-keyboard_collapse { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb96;&nbsp;'); }
.icon-legend_filter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb97;&nbsp;'); }
.icon-preload { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb9f;&nbsp;'); }
.icon-already_cached { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeba0;&nbsp;'); }
.icon-spinner_on_toolbar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeba1;&nbsp;'); }
.icon-report-cover { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebae;&nbsp;'); }
.icon-re-execute { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebb6;&nbsp;'); }
.icon-add-to-insights { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebc6;&nbsp;'); }
.icon-rotate_device { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebd1;&nbsp;'); }
.icon-link_2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec26;&nbsp;'); }
.icon-replace { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3d;&nbsp;'); }
.icon-metric_fx { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3e;&nbsp;'); }
.icon-attribute_fx { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3f;&nbsp;'); }
.icon-folder2_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec51;&nbsp;'); }
.icon-favorite_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec52;&nbsp;'); }
.icon-recents_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec53;&nbsp;'); }
.icon-page2_fill-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec54;&nbsp;'); }
.icon-sort_and_filter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec55;&nbsp;'); }
.icon-caching2_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec56;&nbsp;'); }
.icon-caching2_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec57;&nbsp;'); }
.icon-context_menu { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec58;&nbsp;'); }
.icon-library_home_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec59;&nbsp;'); }
.icon-group_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec5a;&nbsp;'); }
.icon-group_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec5b;&nbsp;'); }
.icon-side_bar_ipad { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec5c;&nbsp;'); }
.icon-reset { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec6a;&nbsp;'); }
.icon-dataset { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec7a;&nbsp;'); }
.icon-report { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec7b;&nbsp;'); }
.icon-mstr_deleted { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecc8;&nbsp;'); }
.icon-pdf_deleted { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecc9;&nbsp;'); }
.icon-metric_fx_line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed61;&nbsp;'); }
.icon-metric_fx_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed62;&nbsp;'); }
.icon-prompt_cg_fill { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed63;&nbsp;'); }
