@import "../../../modules/components/scss/variables.scss";

$color-box-height-width: 18px;
$ant-radio-inner-circle-color: #FFFFFF;
$ant-radio-circle-border-color: #757575;
$ant-radio-blue: #0E6FF9;

.mstr-app-theme-colors {
  font-family: $font-family;
  font-size: $font-size;

  &-title {
    font-weight: $settings-panel-title-font-weight;
    height: $settings-panel-title-height;
    line-height: $settings-panel-title-line-height;
    color: $settings-panel-title-subtitle-color;
  }

  &-subtitle {
    font-weight: 400;
    height: $settings-panel-title-height;
    line-height: $settings-panel-title-line-height;
    color: $settings-panel-title-subtitle-color;
  }

  .ant-radio-group {
    padding-top: 10px;

    .ant-radio-inner {
      border-color: $ant-radio-circle-border-color;
    }
    
    .ant-radio-checked {
      .ant-radio-inner {
        background-color: $ant-radio-blue;

        &:after {
          border: 1px solid $ant-radio-blue;
          background-color: $ant-radio-inner-circle-color;
          /*top: -1px;
          left: -1px;*/
        }
      }
    }
  }

  &-option-group {
    gap: 6px !important;
  }

  &-options {
    .ant-radio {
      top: 0;
      transform: scale(0.75);
    }

    .color-box-wrapper {
      display: inline-flex;
      align-items: center;
      font-family: $font-family;
      font-size: $font-size;
      font-weight: 400;
      line-height: 28px;
      color: $settings-panel-title-subtitle-color;

      .color-box {
        height: $color-box-height-width;
        width: $color-box-height-width;

        &.light {
          background: #ffffff;
          border: 1px solid rgba(41, 49, 59, 0.4);
        }

        &.dark {
          background: #29313b;
          border: 1px solid rgba(41, 49, 59, 0.4);
        }

        &.darkBlue {
          background: #194992;
        }

        &.blue {
          background: #0074e7;
        }

        &.red {
          background: #c90e24;
        }

        &.yellow {
          background: #ffbd30;
        }

        &.green {
          background: #088851;
        }

        &.custom {
          background: conic-gradient(from 135deg at 50% 50%, #3500CB -50.63deg, #FA0000 33.75deg, #FFE600 131.25deg, #00C8F3 226.87deg, #3500CB 309.38deg, #FA0000 393.75deg);
        }

        border-radius: 4px;
        margin: 0 10px 0 2px;
      }
    }
  }
}
