@import '../../../modules/components/scss/variables.scss';

.mstr-app-theme-colors {
  font-family: $font-family;
  font-size: $font-size;

  &-title {
    font-weight: $settings-panel-title-font-weight;
    height: $settings-panel-title-height;
    line-height: $settings-panel-title-line-height;
    color: $settings-panel-title-subtitle-color;
  }

  &-subtitle {
    font-weight: 400;
    height: $settings-panel-title-height;
    line-height: $settings-panel-title-line-height;
    color: $settings-panel-title-subtitle-color;
  }

  .ant-radio-group {
    padding-top: 10px;
  }

  &-option-group {
    gap: 6px !important;
  }

  &-options {

    .ant-radio {
      transform: scale(0.85);
    }

    

    .color-box-wrapper {
      display: inline-flex;
      align-items: center;
      font-family: $font-family;
      font-size: $font-size;
      font-weight: 400;
      line-height: 28px;
      color: $settings-panel-title-subtitle-color;

      .color-box {
        height: 18px;
        width: 18px;

        &.light {
          background: #FFFFFF;
          border: 1px solid rgba(41, 49, 59, 0.4);
        }

        &.dark {
          color: #29313B;
          border: 1px solid rgba(41, 49, 59, 0.4);
        }

        &.darkBlue {
          background: #194992;
        }

        &.blue {
          background: #0074E7;
        }

        &.red {
          background: #C90E24;
        }

        &.yellow {
          background: #FFBD30;
        }

        &.green {
          background: #088851;
        }

        &.custom {
          background: pink;
        }

        border-radius: 4px;
        margin: 0 10px 0 2px;
      }
      
    }

  }
}
