@import '../../variables';

.ant-menu-submenu-vertical {
	padding-left: 8px;
}

.ant-menu-submenu-vertical > .ant-menu-vertical.ant-menu {
	left: -100%;
	margin-right: 4px;
	min-width: 130px;
}
.ant-menu-submenu-arrow{
	&:after, &:before {
		content: none !important;
	}
}

.ant-menu-submenu-vertical.ant-menu-submenu {
	max-height: 360px;
    position: relative;
	&:after {
		width: 12px;
    height: 12px;
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    right: 6px;
	}
	div {
		margin-top: 0px;
	}
}
.ant-menu-submenu-popup {
	border: solid 1px rgba(68, 70, 73, 0.2);
	border-radius: 2px;
}
.ant-menu.ant-menu-vertical.ant-menu-sub {
	.ant-menu-item.mstr-as-menu-item {
		height: auto;
		.ant-checkbox-group-item.ant-checkbox-wrapper {
			display: block;
		}
		background-color: #F4F4F4 ;
		padding-left: 10px;
	}
}

.mstr-as-sub-menu.ant-menu-submenu-open.ant-menu-submenu-active {
	color: #FFFFFF;
	div{
		color: #FFFFFF;
	}
}

a.item.xt.mstrmojo-ui-Menu-item {
	color: $primary-black; // In QE layout (mojo), context menu for datasource is blue which is the default color for a tag in antd, so fix it here.
}
