.content-bundle-picker {
    padding-bottom: 0;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 1px 8px 3px rgba(68, 70, 73, .2);

    &-container {
        background: #ffffff;
        //bar style
        .ant-tabs-bar {
            width: 200px;
            .ant-tabs-nav-container {
                font-size: 12px;
                background-color: #fbfbfb;
                .ant-tabs-tab {
                    margin-top: 6px;
                    margin-bottom: 0;
                    text-align: left;
                    font-family: Helvetica, serif;
                    color: #444649;
                }
                .ant-tabs-tab-active {
                    font-family: Helvetica, serif;
                    color: #fff;
                    background-color: #1C8DD4;
                }
                .ant-tabs-ink-bar-animated {
                    transition: none;
                }
            }
        }
        //content style
        .ant-tabs-content {
            padding-left: 0;
            background-color: #fff;
            
        }
    }
}
.content-bundle-picker-btn {
    position: absolute;
    bottom: 12px;
    right: 20px;
}