@import './variables.scss';
@import '~@mstr/rc/es/assets/scss/variables.scss';

.home-screen-bundle-content-container {
    height: 620px;
    padding: 35px 10px 10px 10px;

    .home-screen-bundle-content-message-tip {
      position: relative;
      margin-top: 22px;
      font-size: $font-size;
      
      #previous-info-icon {
        color: $msdl-blue;
      }
      .icon-msg_info {
        color: #9a9a9a;
      }
      .home-screen-bundle-content-selection-option {
        font-size: 12px;
      }
      .mstr-select-container {
        display: inline-block !important;
        padding-right: 14px;
      }

    }
}
  
.home-screen-add-content-container {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 5px;
}

.home-screen-add-content-icon {
  margin-right: 3px;
  cursor: pointer;
}