@import '~@mstr/rc/es/assets/scss/variables.scss';
@import './variables.scss';
@import '../../../styles/base';
.home-screen-home {
    padding: 0px 0px 0 30px;
    background-color: white;
    height: 660px;
    color: $msdl-black;
    font-family: $font-family;

    .ant-radio-button-wrapper {
        font-size: 13px;
        font-weight: 400;
    }

    .ant-radio-group {
        padding-top: 10px;
    }

    &-settings{
        &-title {
            font-size: 12px;
            font-weight: 600;
            padding-top: 24px;
        }

        &-option-group {
            gap: 6px !important;
        }

        &-library {
            font-size: 12px !important;
            display: block;
            color: $msdl-black;
            .ant-radio {
                transform: scale(0.85);
            }
        }

        &-dossier {
            font-size: 12px !important;
            display: block;
            color: $msdl-black;
            .ant-radio {
                transform: scale(0.85);
            }
        }

        &-hint {
            font-size: 12px;
            color: $msdl-black;
            opacity: 0.5;
            padding-left: 24px;
        }

        &-pick {
            margin-left: 8px;
            padding-top: 8px;
            color: $msdl-blue;
            border-style: none;
            box-shadow: none;
            font-size: 12px !important;
        }

        &-choose-dossier-error_msg {
            font-size: 12px;
            color: #d0021b;
            padding-left: 24px;
            margin-top: -5px;
        }

        &-dossier-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
            margin-right: 52px;
            margin-left: 22px;
            background-color: #f2f3f5;
            border-radius: 3px;
        }

        &-dossier-image {
            height: 48px;
        }

        &-dossier-name {
            @extend .overflow;
            flex-grow: 1;
        }

        &-dossier-change {
            color: $msdl-blue;
            border-style: none;
            box-shadow: none;
            background-color:  #f2f3f5;
            flex-grow: 0;
            font-size: 12px;
        }
    }
    &-preview {
        padding: 24px 0 0 0;
        background-color: $right-background;
    }
}