.home-screen-general {
    text-align: right;
    font-family: Helvetica, serif;
    color: #444649;
    font-size: 13px;
    line-height: 350%;
}
.home-screen-general-environment {
    display: flex;
    &-title {
        width: 30%;
        padding-right: 20px;
    }
}

.home-screen-general-name {
    display: flex;
    &-title {
        width: 30%;
        padding-right: 20px;
    }

    &-name {
        width: 70%;
        padding-right: 50px;
    }
}

.home-screen-general-description {
    display: flex;
    &-title {
        width: 30%;
        padding-right: 20px;
    }
    &-name {
        width: 60%;
        &-input {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.home-screen-general-platform {
    display: flex;
    &-title {
        width: 30%;
        padding-right: 20px;
    }
}