@import '~@mstr/rc/es/assets/scss/variables.scss';
@import './variables.scss';

.home-screen-moresetting {
    font-family: $font-family;
    font-size: $font-size;
    color: $msdl-black;
    line-height: $line-height;

    &-desc {
        font-size: $font-size-mini;
        line-height: $line-height-mini;
        margin-bottom: 14px;
        font-weight: bold;
    }

    &-title {
        font-weight: bold;
        margin-bottom: 7px;
    }
}

.home-screen-moresetting-tooltip-overlay {
    font-family: $font-family;
    max-width: 400px;
    .ant-tooltip-arrow {
        border-top-color: #fff;
    }
    .ant-tooltip-arrow-content{
        background-color: #fff !important;
    }
    .ant-tooltip-inner {
        background-color: #fff;
    }
    span {
        color: #000;
    }
    .icon-error {
        color: #fbbd71;
    }
}

// layout
.home-screen-moresetting-box-vertical {
    font-family: $font-family;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: visible;
}

.home-screen-moresetting-box {
    font-family: $font-family;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    margin-top: 7px;
    margin-left: 16px;
}

// make sure input content in same line
.ant-input-affix-wrapper {
    font-family: $font-family;
    display: inline-flex;
    padding: 0 !important;
    margin: 0;
    align-content: center;

    input.ant-input {
        padding: 0 6px;
    }
}

.home-screen-moresetting-cfg-advance {
    font-family: $font-family;
    padding: 24px 30px 0;
    position: relative;
    font-size: $font-size;
    line-height: $line-height;

    .ant-checkbox-wrapper {
        font-size: $font-size;
        color: $msdl-black;
        line-height: 24px;
    }

    .ant-checkbox {
        transform: scale(0.75);
    }

    .ant-input-suffix {
        margin-right: 4px;
    }

    &-padding {
        margin-bottom: 14px;
    }

    &-paddingmini {
        margin-bottom: 1px;
    }

    &-input {
        width: 166px;
        height: 28px;
        padding: 0 0px;  
        font-size: $font-size;  
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 40%;
        button {
            width: 163px;
            height: 22px;
            background-color: #fff;
            text-align: left;
            font-size: $font-size;
            padding: 0 6px;
            div {
                display: inline;
                float: right;
            }
        }
        &:hover,
        &:focus {
            .ant-input:not(.ant-input-disabled) {
                border-color: $mobile-primary-blue;
            }
        }
    }
    .ant-divider {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .ant-input {
        font-size: $font-size;
    }
}