
$primary-blue: #0e6ff9;
$font-family: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Segoe UI Semibold', 'Segoe UI', helvetica, arial, 'Sans-serif';
$font-color: #35383A;
$font-size: 12px;
$line-height: 14px;
$font-size-mini: 11px;
$line-height-mini: 13px;

.home-screen-dossiersetting {
    &-container {
        padding-left: 20px;
        padding-top: 15px;
        padding-right: 20px;

        font-family: $font-family;
        font-size: $font-size;
        color: $font-color;
        line-height: $line-height;

        .ant-divider-horizontal {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .name-col {
            font-weight: 600;
            font-size: '11px';
        }

        .default-col {
            color: $primary-blue;
        }

        .set-default-col {
            color: $primary-blue;
            display: none;
        }

        .drag-to-sort-row {
            height: 40px;
        }

        .drag-to-sort-row:hover {
            .item-edit {
                display: inline-block;
            }
            .item-delete {
                display: inline-block;
            }
            .item-drag {
                display: inline-block;
            }
            .set-default-col {
                display: inline-block;
            }
        }

        .item-edit {
            background: url("../images/colorPalette/cp-edit.svg");
            display: none;
            width: 18px;
            height: 19px;
            background-repeat: no-repeat;
            &:hover {
                background: url("../images/colorPalette/cp-edit-hover.svg");
            }
        }

        .item-delete {
            background: url("../images/colorPalette/cp-delete.svg");
            display: none;
            width: 9px;
            height: 10px;
            background-repeat: no-repeat;
            &:hover {
                width: 18px;
                height: 18px;
                background: url("../images/colorPalette/cp-delete-hover.svg");
            }
        }

        .item-drag {
            background: url("../images/colorPalette/cp-drag.svg");
            display: none;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            &:hover {
                width: 18px;
                height: 18px;
                background: url("../images/colorPalette/cp-drag-hover.svg");
            }
        }
    }

    &-title {
        font-weight: 700;
    }

    &-default-color-palette-container {
        padding-top: 5px;

        .ant-checkbox-wrapper {
            font-size: $font-size;
            color: $font-color;
            line-height: 24px;
            transform: scale(0.75);
        }

        .icon-msg_info {
            color: lightgray;
            &:hover {
                color: $primary-blue;
            }
        }
    }
    &-default-color-palette-title {
        margin: 0px 5px;
    }

    &-custom-color-palette-title-section {
        margin-bottom: 10px;
    }

    &-custom-color-palette-title {
        margin-right: 10px;
        font-weight: 600;
    }

    &-custom-color-palette-new {
        color: $primary-blue;
        cursor: pointer;
        &-text {
            margin-left: 3px;
        }
        
    }
    &-custom-color-palettes-container {
        margin-top: 5px;
        padding-left: 5px;
    }
}