
$primary-blue: #3892ED;
$container-height: 191px;

@mixin iconFeatures() {
    .icon-tb_undoarrow {
        float: none;
        text-align: center;
        position: absolute;
        left: 140px;
        font-size: 16px;
    }
    .icon-library,
    .icon-tb_home,
    .icon-listview,
    .icon-toc,
    .icon-tb_bookmarks_n,
    .icon-resetfile {
        float: left;
        margin-left: 4.5px;
        color: $primary-blue;
    }
    .icon-search,
    .icon-tb_select_a,
    .icon-user-profile,
    .icon-bell,
    .icon-comments,
    .icon-filter,
    .icon-tb_filter_n,
    .icon-tb_share_n {
        float: right;
        margin-right: 4.5px;
        color: $primary-blue;
    }
}

.homeScreenPreviewer {
    &-title {
        font: normal;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    &-radio {
        font-size: large;
        text-align: center;
        margin-bottom: 10px;
        align-content: center;
    }
    &-pad {
        height: $container-height;
        .ant-layout-header {
            padding: 0 5px;
            height: 28px;
            text-align: center;
            border: .07rem solid lightgrey;
            border-radius: 4px 4px 0 0;
            border-bottom-width: .01rem;
            line-height: 28px;
            background-color: rgba(255, 255, 255, .7);
            span {
                float: right;
                color: #3e96e9;
                font-size: 10px;
            }
            .title {
                font-size: 11px;
                font-family: Helvetica, serif;
                position: absolute;
                left: 140px;
                color: #3f4042;
            }
            @include iconFeatures()
        }
        &-content {
            padding: 0;
            flex: auto;
        }
        &-container {
            height: 100%;
            padding: 0;
            border: .07rem solid lightgrey;
            border-radius: 0 0 4px 4px;
        }
        &-overview {
            display: flex;
            height: 100%;
            width: 100%;
            padding: 8px;
            &-left {
                border-radius: 2px;
                margin-right: 8px;
                padding: 5px;
                background-color: #e2e2e2;
                width: auto;
            }
            &-right {
                flex: auto;
                flex-direction: column;
                background-color: #e2e2e2;
            }
        }
    }
    &-phone {
        width: 120px;
        height: $container-height;
        margin-left: auto;
        margin-right: auto;
        .ant-layout-header {
            flex: auto;
            height: 24px;
            padding: 0 5px;
            text-align: center;
            border: .07rem solid lightgrey;
            border-radius: 4px 4px 0 0;
            border-bottom-width: .01rem;
            line-height: 24px;
            background-color: rgba(255, 255, 255, .7);
            .title {
                font-size: 11px;
                font-family: Helvetica, serif;
                color: #3f4042;
            }
            @include iconFeatures() 
        }
        &-content {
            flex: auto;
            height: 100%;
            padding: 0;
        }
        &-container {
            flex: auto;
            height: 100%;
            padding: 4px;
            border: .07rem solid lightgrey;
            &-top {
                display: inherit;
                div {
                    border-radius: 2px;
                    width: 54px;
                    height: 56px;
                    background-color: #e2e2e2;
                }
                &-first {
                    margin: 0 2px 2px 0;
                }
                &-second {
                    margin: 0 0 2px 2px;
                }
            }
            &-bottom {
                border-radius: 2px;
                width: 110px;
                height: 34px;
                background-color: #e2e2e2;
                &.first {
                    margin: 2px 0;
                }
                &.second {
                    flex: auto;
                    height: auto;
                    margin-top: 2px;
                }
            }
        }
        &-footer {
            padding: 0;
            width: 100%;
            height: 24px;
            border: .07rem solid lightgrey;
            border-top-width: .01rem;
            border-radius: 0 0 4px 4px;
            line-height: 24px;
            background-color: rgba(255, 255, 255, .7);
            display: flex;
            justify-content: space-between;
            span {
                font-size: 10px;
                color: $primary-blue;
            }
        }
    }
}