.home-screen-bundle-content-container {
    height: 100%;
}
  
.home-screen-add-content-container {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 5px;
}

.home-screen-add-content-icon {
  margin-right: 3px;
  cursor: pointer;
}