.home-screen-home {
    padding: 0px 0px 0 34px;
    background-color: white;
    height: 660px;
    color: #35383a;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Segoe UI Semibold', 'Segoe UI', helvetica, arial, 'Sans-serif';

    .ant-radio-button-wrapper {
        font-size: 13px;
        font-weight: 400;
    }

    .ant-radio-group {
        padding-top: 10px;
    }

    &-settings{
        &-title {
            font-size: 14px;
            font-weight: 600;
            padding-top: 28px;
            // line-height: 300%;
        }

        &-library {
            font-size: 12px;
            display: block;
            color: #35383a;
            // line-height:200%;
        }

        &-dossier {
            font-size: 12px;
            display: block;
            color: #35383a;
            // line-height:200%;
        }

        &-hint {
            font-size: 12px;
            padding-top: 4px;
            color: rgba($color:#35383a, $alpha: 0.5);
            padding-left: 24px;
            // line-height: 160%;
        }

        &-pick {
            margin-left: 10px;
            padding-top: 8px;
            color: #3492ed;
            border-style: none;
            box-shadow: none;
            font-size: 12px;
        }

        &-dossier-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
            margin-right: 10px;
            margin-left: 22px;
            background-color: #f2f3f5;
            border-radius: 3px;
        }

        &-dossier-image {
            height: 48px;
        }

        &-dossier-name {
            flex-grow: 1;
        }

        &-dossier-change {
            color: #3492ed;
            border-style: none;
            box-shadow: none;
            background-color:  #f2f3f5;
            flex-grow: 0;
            font-size: 12px;
        }
    }
    &-preview {
        background-color: white;
        padding: 43px 0 0 0;
        background-color:#f6f8fa;
    }
}