@import './variables.scss';

.home-screen-general {
    text-align: right;
    font-family: $font-family;
    color: #444649;
    font-size: 12px;
    line-height: 350%;

    &-environment {
        display: flex;
        padding-top: 12px;
        &-title {
            width: 20%;
            padding-right: 20px;
        }
    }

    &-name {
        display: flex;
        &-title {
            width: 20%;
            padding-right: 20px;
        }
    
        &-name {
            flex: auto;
            padding-right: 50px;
            margin-bottom: 15px;
            .ant-input {
                // padding: 4px 5px 4px 5px !important;
                height: 18px;
            }
            
        }
        &-error {
            flex: auto;
            padding-right: 50px;
            margin-bottom: 15px;
            .ant-input {
                padding-left: 5px;
                padding-right: 5px;
                border: 1px solid #d0021b;
            }
        }
        &-hint-error {
            display: flex;
            div {
                width: 20%;
            }
            span {
                color: #d0021b;
                font-family: Helvetica, serif;
            }
            margin-top: -15px;
        }
    }
    

    &-description {
        padding-top: 5px;
        display: flex;
        &-title {
            width: 20%;
            padding-right: 20px;
            margin-top: -4px;
        }
        &-name {
            flex: auto;
            padding-right: 50px;
            &-input {
                padding-left: 5px !important;
                padding-right: 5px !important;
                max-height: 300px !important;  // DE209327; set min/max height for description input textarea
                min-height: 150px !important;
                font-size: 12px !important;
                font-family: Helvetica, Arial, sans-serif !important;
            }
        }
    }

    &-platform {
        display: flex;
        &-title {
            width: 20%;
            padding-right: 20px;
        }
    }

    &-url {
        display: flex;
        &-title {
            width: 20%;
            padding-right: 20px;
        }
    
        &-name {
            text-align: left;
        }
    }
    // override
    .error-message-container__error-message {
        float: left;
    }
    .ant-radio {
        transform: scale(0.85);
    }
    .ant-radio-wrapper {
        font-size: 12px !important;
    }
    .ant-checkbox {
        transform: scale(0.75);
    }
    .ant-checkbox-wrapper {
        font-size: 12px;
    }
}