
$text-color: #35383A;
$font-size: 12px;
$font-size-mini: 11px;
$line-height: 16px;
$line-height-mini: 14px;
$line-height-small: 13px;

.home-screen-components{
    padding: 0px 0px 0 20px;
    position: relative;
    overflow: scroll;
    display: flex , float;
    height: 660px;
    background-color: white;
    text-align: left;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Segoe UI Semibold', 'Segoe UI', helvetica, arial, 'Sans-serif';
    color: $text-color;

    &-left{
        float: left;
    }

    &-right{
        float: right;
        background-color:#f6f8fa;
    }

    &-enable-feature{
        font-weight: bold;
        font-size: $font-size;
        margin-bottom: 4px;
        line-height: $line-height;

        &-description{
            font-weight: normal;
            font-size: $font-size;
            line-height: $line-height-mini;
            margin-bottom: 16px;
        }
    }

    &-scrollcontainer{
        overflow: auto;
        height: auto;
    }

    &-toolbar{
        font-size: $font-size;
        line-height: $line-height-mini;
        margin-bottom: 3px;
    }

    &-icons{
        font-size: $font-size;
        line-height: $line-height-mini;
        
        &-title{
            font-size: $font-size-mini;
            line-height: $line-height-small;
            margin-bottom: 2px;
            margin-top: 23px;
        }
    }

    &-table{
        font-size: 12px;
        line-height: 14px;
        height: intrinsic;           /* Safari/WebKit 使用了非标准的名称 */
        height: -moz-max-content;    /* Firefox/Gecko */
        height: -webkit-max-content; /* Chrome */

        .ant-table-tbody > tr:nth-child(n-1)  > td {
            padding: 12px 0px;
            .table-text {
                font-size: $font-size;
                color: $text-color;
                margin-left: 10px;
                margin-right: 7px;
            }
        }
        .ant-table-tbody > tr:nth-last-child(1)  > td {
            padding: 12px 0px;
            border-bottom-style: none;
            .table-text {
                font-size: $font-size;
                color: $text-color;
                margin-left: 10px;
                margin-right: 7px;
            }
        }
    }
    .ant-table {
        font-size: 13px;
    }

    .ant-checkbox-wrapper {
        font-size: 13px;
    }

    .ant-radio-button-wrapper {
        font-size: 13px;
        font-weight: 400;
    }

    .ant-radio-group {
        padding-top: 10px;
    }
}

