
.home-screen-components{
    padding: 28px 25px 0 30px;
    position: relative;
    overflow: scroll;
    display: flex , float;
    height: 644px;
    background-color: white;

    &-left{
        float: left;
        margin-left: 0px;
    }

    &-right{
        float: right;
        margin-right: 0px;
        background-color: white;
    }

    &-enable-feature{
        text-align: left;
        font-family: Helvetica, serif;
        color: #444649;
        font-size: 20px;
        line-height: 150%;

        &-description{
            text-align: left;
            font-family: Helvetica, serif;
            color: #444649;
            font-size: 13px;
            line-height: 150%;
        }
    }

    &-scrollcontainer{
        overflow: auto;
        height: auto;
    }

    &-toolbar{
        text-align: left;
        font-family: Helvetica, serif;
        color: #444649;
        font-size: 13px;
        line-height: 350%;
    }

    &-icons{
        text-align: left;
        font-family: Helvetica, serif;
        color: #444649;
        font-size: 13px;
        line-height: 150%;
        height: 100%;
        
        &-title{
            margin: 10px 0;
        }
    }

    &-table{
        text-align: left;
        font-family: Helvetica, serif;
        color: #444649;
        font-size: 13px;
        line-height: 150%;
        height: intrinsic;           /* Safari/WebKit 使用了非标准的名称 */
        height: -moz-max-content;    /* Firefox/Gecko */
        height: -webkit-max-content; /* Chrome */

        .ant-table-tbody > tr > td {
            padding-bottom: 10px;
            padding-top: 10px
        }
    }
}

