
.home-screen-components{
    padding: 28px 25px 0 30px;
    position: relative;
    overflow: scroll;

    &-left{
        float: left;
        width: 70%;
        margin-left: 0px;
    }

    &-right{
        float: right;
        width: 307px;
        margin-right: 0px;
        background-color: white;
    }

    &-enable-feature{
        text-align: left;
        font-family: Helvetica, serif;
        color: #444649;
        font-size: 26px;
        line-height: 150%;

        &-description{
            text-align: left;
            font-family: Helvetica, serif;
            color: #444649;
            font-size: 13px;
            line-height: 150%;
        }
    }

    &-scrollcontainer{
        overflow: auto;
        overflow-y: auto;
        height: 575px;
    }

    &-toolbar{
        text-align: left;
        font-family: Helvetica, serif;
        color: #444649;
        font-size: 13px;
        line-height: 350%;
    }

    &-icons{
        text-align: left;
        font-family: Helvetica, serif;
        color: #444649;
        font-size: 13px;
        line-height: 150%;
    }

    &-table{
        text-align: left;
        font-family: Helvetica, serif;
        color: #444649;
        font-size: 13px;
        line-height: 150%;
        height: intrinsic;           /* Safari/WebKit 使用了非标准的名称 */
        height: -moz-max-content;    /* Firefox/Gecko */
        height: -webkit-max-content; /* Chrome */
    }

    // .ant-layout-sider {
    //     width: 307px;
    //     max-width: 307px;
    //     min-width: 307px;
        
    // }
}

