@import '~@mstr/rc/es/assets/scss/variables.scss';

.home-screen-main {
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Segoe UI Semibold', 'Segoe UI', helvetica, arial, 'Sans-serif';
    color: #35383A;
    font-size: 12px;

    .new-application-container {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .icon-pnl_add-new {
        margin-right: 3px;
        margin-left: 15px;
        cursor: pointer;
    }

    .mstr-window-table-row {
        .icon-tb_share_n {
            cursor: pointer;
            display: none;
            
            &.ant-dropdown-open {
                display: inline-block;
                color: #0E6FF9;
            }
        }
    }

    .mstr-window-table-row:hover {
        .icon-tb_share_n {
            cursor: pointer;
            display: inline-block;
        }
    }

    .Application-Name-Text {
        padding-right: 5px;
    }

    .application-share-menu-container {
        padding: 0px;
    }
}

.ant-dropdown-menu {
    padding: 0px !important;
    .ant-dropdown-menu-item {
        width: 160px !important;
        background-color: white !important;
        font-family: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Segoe UI Semibold', 'Segoe UI', helvetica, arial, 'Sans-serif' !important;
        color: #35383A !important;
        font-size: 12px !important;
    }

    .ant-dropdown-menu-item:hover {
        background-color: #3492ED !important;
        color: white !important;
    }

    .ant-dropdown-menu-item-divider {
        margin: 0px;
    }
}

.mstr-ws-icons.icon-gear::before {
    display: none;
}

.Config-List-Content-Bundle-Item {
    padding-right: 10px;
}

.Config-List-Content-Bundle-Item-Icon {
    content:'\A';
    width:6px;
    height:6px;
    border-radius:50%;
    display:inline-block;
}

.Config-List-Content-Bundle-Item-Text {
    padding-left: 4px;
}

.mstr-window-table-body {
    min-height: 708px;
}

.mstr-rc-mstr-react-window-table-wrapper {
    outline: none !important;
}
.mstr-window-table {
    outline: none !important;
}

.mstr-window-table-cell {
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Segoe UI Semibold', 'Segoe UI', helvetica, arial, 'Sans-serif' !important;
}

div.context-menu-item-wrapper {
    width: 160px !important;
    background-color: white !important;
}

div.context-menu-item-wrapper:hover {
    background-color: #3492ED !important;
    color: white !important;
}

.ant-menu-submenu-title {
    padding: 0 !important;
    margin: 0 !important;
    height: 30px !important;
}