.object-list-content-container {
    height: 610px;
    padding: 10px;
}
  
.object-list-head-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 5px;
}

.object-list-search-container {
  flex-grow: 0;
}

.object-list-show-more {
  flex-grow: 1;
  text-align: right;
  font-size: 13px;
}

.object-list-loading-more {
  position: absolute;
  left: 300px;
  top: 300px;
  color: #2eacfe;
}
// .mstr-window-table-body {
//   height: 100%;;
// }

// .mstr-window-table {
//   float: none;
// }