
// Font
$font-family: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Segoe UI Semibold', 'Segoe UI', helvetica, arial, 'Sans-serif';

$font-size: 12px;
$line-height: 14px;
$font-size-mini: 11px;
$line-height-mini: 13px;

// Color
$right-background: #f4f4f4;
$mobile-primary-blue: #0E6FF9;

// Custom Apps Styling
$custom-apps-screen-height: 708px;
$custom-apps-screen-padding: 24px 30px 0;

$theme-content-width: 227px;
$theme-content-height: 149px;

$existing-theme-option-icon-width: 28px;
$existing-theme-option-icon-height: 28px;

// Logo popup dialog Styling
$logo-popup-width: 500px;
$logo-popup-height: 164px;